Repository tomato414941/web-search: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-frontend, pytest-crawler

pytest-frontend:
  name: pytest (frontend)
  entry: bash -c "export ADMIN_USERNAME=test ADMIN_PASSWORD=test ADMIN_SESSION_SECRET=test INDEXER_API_KEY=test && cd frontend && ../.venv/bin/pytest tests/ -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false

pytest-crawler:
  name: pytest (crawler)
  entry: bash -c "export INDEXER_API_KEY=test && cd crawler && ../.venv/bin/pytest tests/ -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false

docs: classify SRE eval as fail
  docs/search-evaluation.md
  scripts/ops/evaluate_search.py
Due: none

docs: classify framework comparison eval as fail
  docs/search-evaluation.md
  scripts/ops/evaluate_search.py
Due: none

docs: classify search engine comparison eval as fail
  docs/search-evaluation.md
  scripts/ops/evaluate_search.py
Due: none

docs: classify OpenAI news eval as fail
  docs/search-evaluation.md
  scripts/ops/evaluate_search.py
Due: none

fix: demote recruiting pages in general search
  frontend/src/frontend/services/search_ranking_policy.py
  frontend/tests/test_search_ranking_policy.py
Due: pytest-frontend

fix: widen candidate window for demotion rerank
  frontend/src/frontend/services/search_ranking_policy.py
  frontend/tests/test_search_ranking_policy.py
Due: pytest-frontend

ci: skip unaffected jobs by path
  .github/workflows/ci.yml
Due: none

docs: clarify ranking policy link
  README.md
Due: none

docs: trim stale search api docstring
  frontend/src/frontend/api/routers/search_api.py
Due: pytest-frontend

docs: trim shared enums docstring
  shared/src/shared/contracts/enums.py
Due: none

fix: strip english question prefixes from queries
  frontend/src/frontend/services/search_query.py
  frontend/tests/test_search_helpers.py
Due: pytest-frontend

ci: compare changes against current branch
  .github/workflows/ci.yml
Due: none

fix: boost official news sources
  frontend/src/frontend/services/search_ranking_policy.py
  frontend/tests/test_search_ranking_policy.py
Due: pytest-frontend

fix: use news paths for official source boost
  frontend/src/frontend/services/search_opensearch.py
  frontend/src/frontend/services/search_ranking_policy.py
  frontend/tests/test_search_ranking_policy.py
Due: pytest-frontend

docs: clarify current search scope
  docs/search-evaluation.md
  docs/search-ranking-policy.md
Due: none

docs: expand baseline search query set
  docs/search-evaluation.md
Due: none

docs: define tier-2 search trigger
  docs/search-evaluation.md
Due: none

docs: add tier-1 search stability log
  docs/search-evaluation.md
Due: none

ops: add proactive query collection script
  Makefile
  scripts/ops/collect_query_candidates.py
Due: none

docs: expand tier-1 search baseline
  docs/search-evaluation.md
  scripts/ops/evaluate_search.py
Due: none

refactor: split search eval data from policy
  README.md
  config/search_eval_cases.json
  docs/search-evaluation.md
  scripts/ops/evaluate_search.py
Due: none

ops: add search evaluation validation
  Makefile
  docs/search-evaluation.md
  scripts/ops/validate_search_eval_config.py
Due: none

perf: simplify crawl queue selection
  crawler/src/app/db/url_lifecycle.py
  crawler/tests/test_integration.py
Due: pytest-crawler

fix: batch crawler url enqueue
  crawler/src/app/db/url_lifecycle.py
  crawler/src/app/services/indexer.py
  crawler/tests/test_indexer_client.py
  crawler/tests/test_integration.py
Due: pytest-crawler

fix: harden crawler indexer submit
  crawler/src/app/services/indexer.py
  crawler/src/app/workers/pipeline.py
  crawler/src/app/workers/tasks.py
  crawler/tests/test_indexer_client.py
Due: pytest-crawler

refactor: remove dead scheduler methods
  crawler/src/app/scheduler.py
Due: pytest-crawler

refactor: rename crawler blocklist to denylist
  crawler/data/crawl_denylist.txt
  crawler/data/domain_blocklist.txt
  crawler/src/app/core/blocklist.py
  crawler/src/app/core/config.py
  crawler/src/app/core/crawl_denylist.py
  crawler/src/app/db/url_seeds.py
  crawler/src/app/scheduler.py
  crawler/src/app/workers/pipeline.py
  crawler/src/app/workers/tasks.py
  crawler/tests/test_blocklist.py
  crawler/tests/test_crawl_denylist.py
Due: pytest-crawler

ops: seed crawler denylist
  crawler/data/crawl_denylist.txt
Due: none

ops: extend crawler denylist
  crawler/data/crawl_denylist.txt
Due: none

docs: align search architecture docs
  README.md
  docs/architecture.md
  docs/content-quality.md
Due: none

refactor: split crawler url store responsibilities
  crawler/src/app/db/url_discovery.py
  crawler/src/app/db/url_queries.py
  crawler/src/app/db/url_queue.py
  crawler/src/app/db/url_store.py
Due: pytest-crawler

fix: exclude obvious noise hosts from search index
  indexer/src/app/services/indexer.py
  indexer/tests/test_indexer_service.py
  shared/src/shared/search_index_exclusions.py
Due: none

fix: exclude auth-like paths from search index
  indexer/tests/test_indexer_service.py
  shared/src/shared/search_index_exclusions.py
Due: none

refactor: separate crawler deny and block state
  crawler/src/app/scheduler.py
  crawler/src/app/workers/tasks.py
  crawler/tests/test_scheduler.py
Due: pytest-crawler

fix: keep temporary blocked urls pending
  crawler/src/app/db/url_queue.py
  crawler/src/app/scheduler.py
  crawler/src/app/workers/tasks.py
  crawler/tests/test_scheduler.py
Due: pytest-crawler

perf: cache crawler domain queue counts
  crawler/src/app/db/url_discovery.py
  crawler/src/app/db/url_queue.py
  crawler/src/app/db/url_seeds.py
  crawler/src/app/db/url_store.py
  crawler/tests/test_integration.py
Due: pytest-crawler

perf: cache crawler queue stats
  crawler/src/app/db/url_discovery.py
  crawler/src/app/db/url_queries.py
  crawler/src/app/db/url_queue.py
  crawler/src/app/db/url_seeds.py
  crawler/src/app/db/url_store.py
  crawler/tests/test_integration.py
Due: pytest-crawler

refactor: remove crawler domain queue cap
  crawler/src/app/api/deps.py
  crawler/src/app/core/config.py
  crawler/src/app/db/url_discovery.py
  crawler/src/app/db/url_queue.py
  crawler/src/app/db/url_seeds.py
  crawler/src/app/db/url_store.py
  crawler/src/app/services/queue.py
  crawler/src/app/workers/tasks.py
  crawler/tests/test_integration.py
  scripts/ops/requeue_blocked_robots_urls.py
Due: pytest-crawler

feat: tighten search eval and docs ranking
  config/search_eval_cases.json
  docs/search-evaluation.md
  frontend/src/frontend/services/search_opensearch.py
  frontend/src/frontend/services/search_ranking_policy.py
  frontend/tests/test_search_modules.py
  frontend/tests/test_search_ranking_policy.py
  scripts/ops/evaluate_search.py
  scripts/ops/validate_search_eval_config.py
  shared/src/shared/opensearch/search.py
  shared/tests/test_opensearch.py
  shared/tests/test_search_eval_script.py
Due: pytest-frontend

perf: reduce queue stats query rate from ~24/min to ~2/min
  docker-compose.yml
  indexer/src/app/main.py
  indexer/src/app/services/index_jobs.py
  indexer/src/app/worker.py
Due: none

Path conditions:
  pytest-frontend: any of: ^frontend/ and \.py$
  pytest-crawler: any of: ^crawler/ and \.py$
