Repository tomato414941/web-search: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-frontend, pytest-crawler

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install: pip install pre-commit && pre-commit install

repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict

  # Run Tests locally before commit (only when .py files change)
  - repo: local
    hooks:
      - id: pytest-frontend
        name: pytest (frontend)
        entry: bash -c "export ADMIN_USERNAME=test ADMIN_PASSWORD=test ADMIN_SESSION_SECRET=test INDEXER_API_KEY=test && cd frontend && ../.venv/bin/pytest tests/ -v --tb=short"
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^frontend/
      - id: pytest-crawler
        name: pytest (crawler)
        entry: bash -c "export INDEXER_API_KEY=test && cd crawler && ../.venv/bin/pytest tests/ -v --tb=short"
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^crawler/

chore: add AGENTS.override.md to .gitignore
  .gitignore
Due: none

fix: add auth header to frontend→crawler proxy call
  frontend/src/frontend/api/routers/crawler.py
Due: pytest-frontend

fix: decouple frontend readiness from crawler health
  frontend/src/frontend/api/routers/system.py
Due: pytest-frontend

refactor: gate runtime migrations behind RUN_MIGRATIONS env var
  frontend/src/frontend/api/main.py
  indexer/src/app/main.py
  indexer/src/app/worker.py
  shared/src/shared/core/infrastructure_config.py
Due: pytest-frontend

perf: remove COUNT(*) from semantic search, cap pagination depth
  frontend/src/frontend/services/search.py
Due: pytest-frontend

fix: fallback to pgvector when OpenSearch is unavailable
  frontend/src/frontend/services/search.py
Due: pytest-frontend

feat: add CRAWL_AUTO_START config for automatic worker startup
  crawler/src/app/core/config.py
  crawler/src/app/core/events.py
  docker-compose.yml
Due: pytest-crawler

chore: enable pytest-cov for all services in CI
  .github/workflows/ci.yml
Due: none

fix: crawler retry state machine and scheduler blocked URL leak
  crawler/src/app/db/url_store.py
  crawler/src/app/scheduler.py
  crawler/src/app/workers/tasks.py
  crawler/tests/test_integration.py
Due: pytest-crawler

fix: indexer CAS guards and batch embedding ordering
  indexer/src/app/services/index_jobs.py
  indexer/src/app/worker.py
  indexer/tests/test_index_jobs.py
Due: none

refactor: structural improvements (Phase 2)
  crawler/src/app/db/connection.py
  crawler/src/app/db/url_store.py
  crawler/src/app/workers/pipeline.py
  crawler/src/app/workers/tasks.py
  crawler/tests/test_integration.py
  crawler/tests/test_pipeline.py
  indexer/src/app/services/dedupe.py
  indexer/src/app/services/index_jobs.py
  indexer/src/app/services/retry_policy.py
  indexer/tests/test_retry_policy.py
  indexer/tests/test_stale_links.py
Due: pytest-crawler

refactor: quality improvements (Phase 3)
  crawler/src/app/utils/history.py
  frontend/src/frontend/api/deps_admin.py
  frontend/src/frontend/api/main.py
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/api/routers/admin_crawlers.py
  frontend/src/frontend/api/routers/admin_indexer.py
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/services/search.py
  indexer/src/app/worker.py
Due: pytest-frontend, pytest-crawler

fix: add OpenSearch backfill on deploy for STG search
  docker-compose.yml
  indexer/Dockerfile
  scripts/migrations/backfill_opensearch.py
Due: none

fix: allow scripts/migrations in Docker build context
  .dockerignore
Due: none

feat: add OpenSearch status to readiness endpoint
  frontend/src/frontend/api/routers/system.py
Due: pytest-frontend

feat: add embedding status to readiness endpoint
  frontend/src/frontend/api/routers/system.py
Due: pytest-frontend

feat: add embedding backfill script for pgvector
  docker-compose.yml
  scripts/migrations/backfill_embeddings.py
Due: none

fix: executor graceful shutdown to prevent data loss
  crawler/src/app/db/executor.py
Due: pytest-crawler

fix: indexer retry policy consistency and batch recovery
  indexer/src/app/services/index_jobs.py
Due: none

fix: admin error message sanitization and auth standardization
  frontend/src/frontend/api/deps_admin.py
  frontend/src/frontend/api/routers/admin.py
Due: pytest-frontend

perf: batch SQL updates for url_store and fix LIKE escaping
  crawler/src/app/db/url_store.py
Due: pytest-crawler

perf: skip scheduler buffer purge when blocklist unchanged
  crawler/src/app/scheduler.py
Due: pytest-crawler

fix: add auth header to crawler stats API call
  frontend/src/frontend/api/routers/stats.py
Due: pytest-frontend

perf: increase OpenSearch heap to 2g and container limit to 3g
  docker-compose.yml
Due: none

perf: add hybrid search timeout fallback and reduce k-NN candidates
  frontend/src/frontend/core/config.py
  frontend/src/frontend/services/search.py
  shared/src/shared/opensearch/client.py
  shared/src/shared/opensearch/search.py
Due: pytest-frontend

fix: use shutdown(wait=False) so hybrid timeout actually fires
  frontend/src/frontend/services/search.py
Due: pytest-frontend

revert: restore OpenSearch heap to 1g to prevent OOM
  docker-compose.yml
Due: none

perf: fix crawler stats timeout with indexes, caching, and query optimization
  crawler/src/app/api/routes/stats.py
  crawler/src/app/db/executor.py
  crawler/src/app/db/url_store.py
  db/alembic/versions/004_add_crawler_stats_indexes.py
  frontend/src/frontend/services/crawler_admin_client.py
Due: pytest-frontend, pytest-crawler

fix: remove CONCURRENTLY from index creation (incompatible with Alembic transactions)
  db/alembic/versions/004_add_crawler_stats_indexes.py
Due: none

perf: cache and parallelize stats API to reduce latency from ~4s to <1ms
  crawler/src/app/api/routes/queue.py
  crawler/tests/test_api_endpoints.py
  frontend/src/frontend/api/routers/stats.py
  frontend/src/frontend/services/search.py
  frontend/tests/test_api_extensions.py
Due: pytest-frontend, pytest-crawler

fix: include exception type in crawler stats error log
  frontend/src/frontend/api/routers/stats.py
Due: pytest-frontend

fix: increase crawler API timeout from 3s to 5s to prevent ReadTimeout
  frontend/src/frontend/api/routers/stats.py
Due: pytest-frontend

perf: use pg_stats approximate counts for crawler stats query
  crawler/src/app/db/url_store.py
Due: pytest-crawler

fix: set postgres shm_size to 256m to allow VACUUM to run
  docker-compose.yml
Due: none

fix: resolve CI failures (ruff format + migration test)
  crawler/src/app/db/url_store.py
  frontend/src/frontend/services/search.py
  shared/tests/test_migrate.py
Due: pytest-frontend, pytest-crawler

perf: add composite index (status, domain) on urls table
  db/alembic/versions/005_optimize_urls_domain_queries.py
  shared/tests/test_migrate.py
Due: none

fix: use CRAWL_CONCURRENCY setting for auto-start worker
  crawler/src/app/core/events.py
  docker-compose.yml
Due: pytest-crawler

feat: add per-domain pending URL cap to prevent queue domination
  crawler/src/app/api/deps.py
  crawler/src/app/core/config.py
  crawler/src/app/db/url_store.py
  crawler/src/app/services/queue.py
  crawler/src/app/workers/tasks.py
Due: pytest-crawler

feat: add OGP, favicon, meta tags, robots.txt and sitemap
  frontend/src/frontend/api/routers/system.py
  frontend/src/frontend/i18n/messages.py
  frontend/src/frontend/static/favicon.svg
  frontend/src/frontend/static/ogp.png
  frontend/src/frontend/templates/search.html
  scripts/dev/generate_ogp_image.py
Due: pytest-frontend

feat: add domain diversity to search results
  frontend/src/frontend/core/config.py
  frontend/src/frontend/services/search.py
  shared/src/shared/search_kernel/diversify.py
  shared/tests/test_diversify.py
Due: pytest-frontend
