Repository tomato414941/web-search: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-frontend, pytest-crawler

pytest-frontend:
  name: pytest (frontend)
  entry: bash -c "export ADMIN_USERNAME=test ADMIN_PASSWORD=test ADMIN_SESSION_SECRET=test INDEXER_API_KEY=test && cd frontend && ../.venv/bin/pytest tests/ -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false

pytest-crawler:
  name: pytest (crawler)
  entry: bash -c "export INDEXER_API_KEY=test && cd crawler && ../.venv/bin/pytest tests/ -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false

fix: add test env vars to CI workflow
  .github/workflows/ci.yml
Due: none

fix: use get_connection directly without file existence check
  frontend/src/frontend/api/routers/system.py
  frontend/src/frontend/services/search.py
Due: pytest-frontend

feat: migrate from Turso/libsql to PostgreSQL
  .env.example
  CLAUDE.md
  crawler/src/app/api/routes/health.py
  crawler/src/app/db/frontier.py
  crawler/src/app/db/history.py
  crawler/src/app/services/seeds.py
  crawler/src/app/utils/history.py
  docker-compose.yml
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/api/routers/system.py
  frontend/src/frontend/core/db.py
  frontend/src/frontend/services/ranking.py
  frontend/tests/test_admin_auth.py
  indexer/src/app/api/routes/health.py
  shared/setup.py
  shared/src/shared/core/infrastructure_config.py
  shared/src/shared/db/search.py
  shared/src/shared/search/scoring.py
  shared/src/shared/search/searcher.py
Due: pytest-frontend, pytest-crawler

docs: update CLAUDE.md for Hetzner SG deployment
  CLAUDE.md
Due: none

fix: change frontend port from 8080 to 8083
  .env.example
  AGENTS.md
  README.md
  crawler/Dockerfile
  crawler/requirements.txt
  crawler/src/app/core/config.py
  crawler/src/app/db/frontier.py
  crawler/src/app/db/history.py
  crawler/src/app/utils/history.py
  crawler/tests/conftest.py
  docker-compose.yml
  docs/architecture.md
  docs/backup.md
  docs/japanese_tokenization.md
  docs/setup.md
  frontend/Dockerfile
  frontend/requirements.txt
  frontend/src/frontend/core/config.py
  indexer/Dockerfile
  indexer/README.md
  indexer/requirements.txt
  indexer/src/app/core/config.py
  indexer/tests/conftest.py
  shared/src/shared/analyzer.py
  shared/src/shared/db/search.py
Due: pytest-frontend, pytest-crawler

perf: optimize search queries and add vector cache TTL
  shared/src/shared/search/searcher.py
Due: none

fix: rename Queue Size to Frontier Size on admin dashboard
  frontend/src/frontend/templates/admin/dashboard.html
Due: none

fix: make indexer.py compatible with PostgreSQL
  indexer/src/app/services/indexer.py
  shared/src/shared/search/indexer.py
Due: none

fix: use cursor() for all PostgreSQL database operations
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/api/routers/system.py
  frontend/src/frontend/services/search.py
  indexer/src/app/api/routes/health.py
Due: pytest-frontend

docs: fix CLAUDE.md - frontier uses PostgreSQL, not Redis
  CLAUDE.md
Due: none

refactor: unify frontier + history into urls table
  crawler/src/app/api/deps.py
  crawler/src/app/api/routes/health.py
  crawler/src/app/core/config.py
  crawler/src/app/db/__init__.py
  crawler/src/app/db/frontier.py
  crawler/src/app/db/history.py
  crawler/src/app/db/url_store.py
  crawler/src/app/scheduler.py
  crawler/src/app/services/queue.py
  crawler/src/app/services/seeds.py
  crawler/src/app/utils/history.py
  crawler/src/app/workers/tasks.py
  crawler/tests/conftest.py
  crawler/tests/test_api_endpoints.py
  crawler/tests/test_integration.py
Due: pytest-crawler

docs: update CLAUDE.md - frontier replaced by urls table
  CLAUDE.md
Due: none

fix: send empty JSON body on crawler stop requests to avoid 422
  frontend/src/frontend/api/routers/admin.py
Due: pytest-frontend

fix: compute crawl rate via SQL instead of len() on raw data
  CLAUDE.md
  crawler/src/app/api/routes/stats.py
  crawler/src/app/main.py
  crawler/src/app/utils/history.py
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/templates/admin/dashboard.html
Due: pytest-frontend, pytest-crawler

fix: add gstatic.com to CSP for favicon display
  frontend/src/frontend/api/main.py
Due: pytest-frontend

feat: add stop words, OR search, and case-insensitive tokenization
  shared/src/shared/analyzer.py
  shared/src/shared/search/indexer.py
  shared/src/shared/search/searcher.py
  shared/tests/test_custom_search.py
Due: none

feat: add domain diversity in URL scheduling and scoring
  crawler/src/app/core/config.py
  crawler/src/app/db/url_store.py
  crawler/src/app/workers/tasks.py
Due: pytest-crawler

feat: add Tranco list bulk import from admin UI
  crawler/src/app/api/routes/seeds.py
  crawler/src/app/models/seeds.py
  crawler/src/app/services/tranco.py
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/templates/admin/seeds.html
Due: pytest-frontend, pytest-crawler

chore: add seed and reindex utility scripts
  scripts/reindex.py
  scripts/seed_from_tranco.py
Due: none

fix: Tranco import form layout on seeds page
  frontend/src/frontend/templates/admin/seeds.html
Due: none

refactor: remove dead source_url column from urls table
  crawler/src/app/db/url_store.py
  crawler/src/app/workers/tasks.py
Due: pytest-crawler

feat: implement PageRank-based crawl priority pipeline
  crawler/src/app/api/routes/crawl.py
  crawler/src/app/api/routes/seeds.py
  crawler/src/app/domain/scoring.py
  crawler/src/app/models/crawl.py
  crawler/src/app/models/seeds.py
  crawler/src/app/services/indexer.py
  crawler/src/app/services/queue.py
  crawler/src/app/services/seeds.py
  crawler/src/app/workers/tasks.py
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/api/routers/crawler.py
  frontend/src/frontend/services/ranking.py
  frontend/src/frontend/templates/admin/seeds.html
  indexer/src/app/api/routes/indexer.py
  indexer/src/app/core/config.py
  indexer/src/app/main.py
  indexer/src/app/services/indexer.py
  scripts/calc_pagerank.py
  scripts/seed_from_tranco.py
  shared/src/shared/db/search.py
  shared/src/shared/pagerank.py
Due: pytest-frontend, pytest-crawler

refactor: merge seeds table into urls with is_seed flag
  crawler/src/app/api/routes/seeds.py
  crawler/src/app/db/url_store.py
  crawler/src/app/models/seeds.py
  crawler/src/app/services/seeds.py
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/templates/admin/seeds.html
Due: pytest-frontend, pytest-crawler

fix: create is_seed index after ALTER TABLE migration
  crawler/src/app/db/url_store.py
Due: pytest-crawler

feat: add HostGate for per-host exponential backoff and Crawl-delay support
  crawler/src/app/scheduler.py
  crawler/src/app/utils/robots.py
  crawler/src/app/workers/tasks.py
  crawler/tests/test_integration.py
  crawler/tests/test_robots_cache.py
  crawler/tests/test_scheduler.py
Due: pytest-crawler

fix: pass success=False for task creation failure in worker_loop
  crawler/src/app/workers/tasks.py
Due: pytest-crawler

chore: remove dead code (CRAWL_WORKERS, unused item param, unused fixture)
  crawler/src/app/core/config.py
  crawler/src/app/workers/tasks.py
  crawler/tests/conftest.py
Due: pytest-crawler

chore: remove dead code, legacy endpoints, and Redis remnants
  .github/workflows/ci.yml
  crawler/requirements.txt
  crawler/src/app/api/routes/crawl.py
  crawler/src/app/api/routes/health.py
  crawler/src/app/api/routes/stats.py
  crawler/src/app/main.py
  crawler/src/app/models/queue.py
  crawler/src/app/services/queue.py
  crawler/src/app/utils/robots.py
  crawler/src/app/workers/tasks.py
  crawler/tests/test_api_endpoints.py
  docker-compose.yml
  frontend/requirements.txt
  frontend/src/frontend/api/main.py
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/api/routers/stats.py
  frontend/src/frontend/api/routers/system.py
  frontend/src/frontend/api/templates.py
  frontend/src/frontend/core/config.py
  frontend/src/frontend/core/db.py
  frontend/src/frontend/services/search.py
  frontend/src/frontend/services/text_utils.py
  frontend/src/frontend/templates/admin/crawlers.html
  frontend/tests/conftest.py
  frontend/tests/test_db_schema.py
  frontend/tests/test_db_unit.py
  frontend/tests/test_text_utils.py
  indexer/src/app/api/routes/health.py
  indexer/src/app/api/routes/indexer.py
  indexer/src/app/main.py
  shared/src/shared/core/infrastructure_config.py
  shared/src/shared/db/redis.py
  shared/tests/conftest.py
  shared/tests/test_infrastructure_config.py
Due: pytest-frontend, pytest-crawler

fix: unify snippet highlighting on server-side with HTML escaping
  frontend/src/frontend/services/search.py
  frontend/src/frontend/templates/search.html
  shared/src/shared/search/snippet.py
  shared/tests/test_custom_search.py
Due: pytest-frontend

fix: remove stale /api/v1/health test from indexer
  indexer/tests/test_api.py
Due: none

fix: normalize PageRank to 0-1 and use multiplicative scoring
  shared/src/shared/pagerank.py
  shared/src/shared/search/scoring.py
  shared/tests/test_custom_search.py
Due: none

refactor: use executemany() for batch PageRank INSERT
  shared/src/shared/pagerank.py
Due: none

fix: handle dangling nodes in PageRank to preserve rank mass
  shared/src/shared/pagerank.py
  shared/tests/test_custom_search.py
Due: none

refactor: optimize PageRank memory usage with cursor iteration and batch saves
  shared/src/shared/pagerank.py
Due: none

fix: disable hybrid search, use BM25-only to eliminate OpenAI API latency
  frontend/pytest.ini
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/api/routers/search.py
  frontend/src/frontend/services/search.py
  frontend/tests/conftest.py
  frontend/tests/test_app.py
  frontend/tests/test_search_api_advanced.py
  frontend/tests/test_search_caching.py
  frontend/tests/test_search_features.py
  frontend/tests/test_search_semantic.py
Due: pytest-frontend

perf: batch BM25 scoring queries to fix N+1 problem
  shared/src/shared/search/scoring.py
  shared/src/shared/search/searcher.py
Due: none

fix frontend contract mismatches and db/cookie compatibility
  frontend/src/frontend/api/main.py
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/api/routers/crawler.py
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/api/routers/stats.py
  frontend/tests/test_admin_auth.py
  frontend/tests/test_api_extensions.py
  frontend/tests/test_search_api_advanced.py
Due: pytest-frontend

stabilize frontend test fixture and unskip session token test
  frontend/tests/conftest.py
  frontend/tests/test_admin_auth.py
Due: pytest-frontend

feat: add search quality instrumentation and summary metrics
  .env.example
  crawler/src/app/utils/history.py
  crawler/tests/test_history_metrics.py
  docker-compose.yml
  frontend/src/frontend/api/main.py
  frontend/src/frontend/api/routers/quality.py
  frontend/src/frontend/api/routers/search.py
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/core/config.py
  frontend/src/frontend/services/analytics.py
  frontend/src/frontend/templates/search.html
  frontend/tests/test_db_schema.py
  frontend/tests/test_search_metrics.py
  shared/src/shared/db/search.py
Due: pytest-frontend, pytest-crawler

Path conditions:
  pytest-frontend: any of: ^frontend/ and \.py$
  pytest-crawler: any of: ^crawler/ and \.py$
