Repository tomato414941/web-search: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-frontend, pytest-crawler

pytest-frontend:
  name: pytest (frontend)
  entry: bash -c "export ADMIN_USERNAME=test ADMIN_PASSWORD=test ADMIN_SESSION_SECRET=test INDEXER_API_KEY=test && cd frontend && ../.venv/bin/pytest tests/ -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false

pytest-crawler:
  name: pytest (crawler)
  entry: bash -c "export INDEXER_API_KEY=test && cd crawler && ../.venv/bin/pytest tests/ -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false

fix: relax MAX_PER_DOMAIN from 3 to 5
  frontend/src/frontend/core/config.py
Due: pytest-frontend

fix: group subdomains under registered domain for diversity
  shared/src/shared/search_kernel/diversify.py
  shared/tests/test_diversify.py
Due: none

feat: expose indexed_at in search API response
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/services/search.py
  shared/src/shared/opensearch/search.py
  shared/src/shared/search_kernel/searcher.py
Due: pytest-frontend

feat: add landing section with feature badges on homepage
  frontend/src/frontend/i18n/messages.py
  frontend/src/frontend/static/css/modern.css
  frontend/src/frontend/static/css/simple.css
  frontend/src/frontend/templates/search.html
Due: pytest-frontend

feat: extract published_at from HTML and expose in search API
  crawler/src/app/services/indexer.py
  crawler/src/app/utils/parser.py
  crawler/src/app/workers/pipeline.py
  db/alembic/versions/006_add_published_at.py
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/services/search.py
  indexer/src/app/api/routes/indexer.py
  indexer/src/app/services/index_jobs.py
  indexer/src/app/services/indexer.py
  indexer/src/app/worker.py
  shared/src/shared/contracts/indexer_api.py
  shared/src/shared/opensearch/client.py
  shared/src/shared/opensearch/mapping.py
  shared/src/shared/opensearch/search.py
  shared/src/shared/search_kernel/indexer.py
  shared/src/shared/search_kernel/searcher.py
  shared/tests/test_migrate.py
Due: pytest-frontend, pytest-crawler

fix: update crawler tests for html_to_doc 3-tuple return
  crawler/tests/test_integration.py
  crawler/tests/test_parser_utils.py
Due: pytest-crawler

docs: update README for AI search API positioning
  README.md
Due: none

perf: redesign urls indexes to enable HOT updates
  crawler/src/app/db/url_store.py
  db/alembic/versions/007_optimize_urls_hot_updates.py
Due: pytest-crawler

docs: add project purpose and CQRS-lite note to AGENTS.md
  AGENTS.md
Due: none

fix: update migration test to expect revision 007
  shared/tests/test_migrate.py
Due: none

fix: resolve CI failures in lint and indexer tests
  crawler/src/app/workers/pipeline.py
  frontend/src/frontend/services/search.py
  indexer/tests/test_indexer_service.py
  shared/src/shared/search_kernel/diversify.py
Due: pytest-frontend, pytest-crawler

docs: update documentation to reflect current state
  docs/api.md
  docs/architecture.md
  docs/coolify-staging.md
  docs/implementation_plan.md
  docs/setup.md
Due: none

feat: add MCP server for AI agent integration
  AGENTS.md
  mcp/requirements.txt
  mcp/src/paleblue_mcp/__init__.py
  mcp/src/paleblue_mcp/__main__.py
  mcp/src/paleblue_mcp/client.py
  mcp/src/paleblue_mcp/config.py
  mcp/src/paleblue_mcp/server.py
  mcp/tests/conftest.py
  mcp/tests/test_client.py
  mcp/tests/test_server.py
Due: none

ci: add MCP server to CI pipeline, pre-commit, and Dependabot
  .github/dependabot.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

fix: correct PYTHONPATH for MCP tests in CI
  .github/workflows/ci.yml
Due: none

docs: add content quality strategy document
  docs/content-quality.md
Due: none

feat: add AI-focused seed list and expand domain blocklist
  crawler/data/ai_seeds.csv
  crawler/data/domain_blocklist.txt
  scripts/ops/seed_from_ai_list.py
Due: none

feat: replace BeautifulSoup get_text with trafilatura for content extraction
  crawler/requirements.txt
  crawler/src/app/utils/parser.py
  crawler/tests/test_integration.py
  crawler/tests/test_parser_utils.py
Due: pytest-crawler

docs: add MCP server README for directory registration
  mcp/README.md
Due: none

feat: add content_quality score to search ranking
  indexer/src/app/services/indexer.py
  shared/src/shared/opensearch/client.py
  shared/src/shared/opensearch/mapping.py
  shared/src/shared/opensearch/search.py
Due: none

docs: add HTML storage design (Cloudflare R2)
  docs/html-storage.md
Due: none

docs: update documentation to reflect trafilatura and content quality
  README.md
  docs/architecture.md
  docs/content-quality.md
Due: none

feat: replace freshness decay with temporal_anchor scoring
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/services/search.py
  indexer/src/app/services/indexer.py
  mcp/src/paleblue_mcp/server.py
  scripts/migrations/backfill_temporal_anchor.py
  shared/src/shared/opensearch/client.py
  shared/src/shared/opensearch/mapping.py
  shared/src/shared/opensearch/search.py
  shared/src/shared/search_kernel/searcher.py
Due: pytest-frontend

feat: add authorship metadata extraction and clarity scoring
  crawler/src/app/services/indexer.py
  crawler/src/app/utils/parser.py
  crawler/src/app/workers/pipeline.py
  crawler/tests/test_integration.py
  db/alembic/versions/008_add_authorship_metadata.py
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/services/search.py
  indexer/src/app/api/routes/indexer.py
  indexer/src/app/services/index_jobs.py
  indexer/src/app/services/indexer.py
  indexer/src/app/worker.py
  mcp/src/paleblue_mcp/server.py
  shared/src/shared/contracts/indexer_api.py
  shared/src/shared/opensearch/client.py
  shared/src/shared/opensearch/mapping.py
  shared/src/shared/opensearch/search.py
  shared/src/shared/search_kernel/searcher.py
  shared/tests/test_migrate.py
Due: pytest-frontend, pytest-crawler

feat: add factual_density scoring to replace content_quality
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/services/search.py
  indexer/src/app/services/indexer.py
  scripts/migrations/backfill_factual_density.py
  shared/src/shared/opensearch/client.py
  shared/src/shared/opensearch/mapping.py
  shared/src/shared/opensearch/search.py
  shared/src/shared/search_kernel/factual_density.py
  shared/src/shared/search_kernel/searcher.py
Due: pytest-frontend

feat: add information origin scoring to replace PageRank
  db/alembic/versions/009_add_information_origins.py
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/services/search.py
  indexer/src/app/api/routes/indexer.py
  indexer/src/app/services/indexer.py
  mcp/src/paleblue_mcp/server.py
  shared/src/shared/opensearch/client.py
  shared/src/shared/opensearch/mapping.py
  shared/src/shared/opensearch/search.py
  shared/src/shared/search_kernel/information_origin.py
  shared/src/shared/search_kernel/searcher.py
  shared/tests/test_migrate.py
Due: pytest-frontend

feat: add claim diversity to replace domain-only result capping
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/services/search.py
  mcp/src/paleblue_mcp/server.py
  shared/src/shared/search_kernel/claim_diversity.py
  shared/src/shared/search_kernel/searcher.py
Due: pytest-frontend

feat: add scope match for query intent vs document type matching
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/services/search.py
  shared/src/shared/search_kernel/scope_match.py
  shared/src/shared/search_kernel/searcher.py
Due: pytest-frontend

fix: apply ruff formatting fixes
  db/alembic/versions/007_optimize_urls_hot_updates.py
  scripts/migrations/backfill_embeddings.py
  scripts/migrations/backfill_opensearch.py
  shared/src/shared/search_kernel/claim_diversity.py
  shared/src/shared/search_kernel/scope_match.py
  shared/tests/test_diversify.py
Due: none

docs: update documentation for AI-agent-optimized ranking signals
  AGENTS.md
  README.md
  docs/api.md
  docs/architecture.md
  docs/content-quality.md
Due: none

fix: resolve ruff format violation in information_origin.py
  shared/src/shared/search_kernel/information_origin.py
Due: none

perf: eliminate double HTML parsing in crawler pipeline
  crawler/src/app/utils/parser.py
  crawler/src/app/workers/pipeline.py
  crawler/tests/test_integration.py
Due: pytest-crawler

refactor: remove dead parser functions (html_to_doc, html_to_doc_full, extract_links)
  crawler/src/app/utils/__init__.py
  crawler/src/app/utils/parser.py
  crawler/tests/test_parser_utils.py
Due: pytest-crawler

perf: use server-side cursor for opensearch backfill
  scripts/migrations/backfill_opensearch.py
Due: none

refactor: extract url_hash, get_domain, UrlItem into url_types module
  crawler/src/app/db/__init__.py
  crawler/src/app/db/url_store.py
  crawler/src/app/db/url_types.py
  crawler/src/app/scheduler.py
  crawler/src/app/services/queue.py
  crawler/src/app/services/seeds.py
  crawler/src/app/workers/pipeline.py
  crawler/src/app/workers/tasks.py
  crawler/tests/test_scheduler.py
Due: pytest-crawler

refactor: remove dead duplicate _compute_content_quality function
  indexer/src/app/services/indexer.py
Due: none

refactor: consolidate duplicate RetryPolicy into shared module
  indexer/src/app/services/index_jobs.py
  indexer/src/app/services/retry_policy.py
  indexer/tests/test_retry_policy.py
  shared/src/shared/core/retry.py
Due: none

refactor: split url_store.py into mixin modules
  crawler/src/app/db/url_lifecycle.py
  crawler/src/app/db/url_queries.py
  crawler/src/app/db/url_seeds.py
  crawler/src/app/db/url_store.py
Due: pytest-crawler

refactor: split url_store.py into lifecycle, queries, seeds mixins
  crawler/src/app/db/url_seeds.py
Due: pytest-crawler

refactor: extract job recovery logic from index_jobs.py
  indexer/src/app/services/index_jobs.py
  indexer/src/app/services/job_recovery.py
Due: none

Path conditions:
  pytest-frontend: any of: ^frontend/ and \.py$
  pytest-crawler: any of: ^crawler/ and \.py$
