Repository tomato414941/web-search: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-frontend, pytest-crawler

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install: pip install pre-commit && pre-commit install

repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict

  # Run Tests locally before commit (only when .py files change)
  - repo: local
    hooks:
      - id: pytest-frontend
        name: pytest (frontend)
        entry: bash -c "export ADMIN_USERNAME=test ADMIN_PASSWORD=test ADMIN_SESSION_SECRET=test INDEXER_API_KEY=test && cd frontend && ../.venv/bin/pytest tests/ -v --tb=short"
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^frontend/
      - id: pytest-crawler
        name: pytest (crawler)
        entry: bash -c "export INDEXER_API_KEY=test && cd crawler && ../.venv/bin/pytest tests/ -v --tb=short"
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^crawler/

fix: run DB migrations on app startup
  frontend/src/frontend/api/main.py
Due: pytest-frontend

fix: handle migration errors gracefully on multi-worker startup
  frontend/src/frontend/api/main.py
Due: pytest-frontend

revert: remove migrate() from app startup to fix multi-worker deadlock
  frontend/src/frontend/api/main.py
  frontend/tests/test_admin_auth.py
Due: pytest-frontend

docs: add API documentation page and usage examples
  README.md
  frontend/src/frontend/api/main.py
  frontend/src/frontend/api/routers/search_api.py
Due: pytest-frontend

fix: harden security — crawler auth, non-root containers, CORS restriction, async DB calls
  crawler/Dockerfile
  crawler/src/app/api/deps.py
  crawler/src/app/main.py
  crawler/tests/conftest.py
  frontend/Dockerfile
  frontend/src/frontend/api/deps.py
  frontend/src/frontend/api/main.py
  frontend/src/frontend/services/crawler_admin_client.py
  indexer/Dockerfile
Due: pytest-frontend, pytest-crawler

feat: domain-parallel batch dispatch for crawler worker loop
  crawler/src/app/scheduler.py
  crawler/src/app/services/worker.py
  crawler/src/app/workers/tasks.py
  crawler/tests/test_scheduler.py
Due: pytest-crawler

feat: add domain blocklist and scheduler improvements
  crawler/Dockerfile
  crawler/src/app/core/blocklist.py
  crawler/src/app/core/config.py
  crawler/src/app/db/url_store.py
  crawler/src/app/scheduler.py
  crawler/src/app/workers/tasks.py
  crawler/tests/test_blocklist.py
  crawler/tests/test_scheduler.py
Due: pytest-crawler

refactor: add shared contracts with StrEnum for type-safe status codes
  crawler/src/app/utils/history.py
  crawler/src/app/workers/tasks.py
  frontend/src/frontend/api/routers/search.py
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/services/analytics.py
  frontend/src/frontend/services/search.py
  indexer/src/app/api/routes/indexer.py
  indexer/src/app/services/index_jobs.py
  shared/src/shared/contracts/__init__.py
  shared/src/shared/contracts/enums.py
  shared/src/shared/contracts/indexer_api.py
Due: pytest-frontend, pytest-crawler

refactor: restructure shared/ into search_kernel/ and postgres/ subpackages
  shared/src/shared/analyzer.py
  shared/src/shared/db/migrate.py
  shared/src/shared/db/search.py
  shared/src/shared/pagerank.py
  shared/src/shared/postgres/__init__.py
  shared/src/shared/postgres/migrate.py
  shared/src/shared/postgres/migrations/001_initial_schema.sql
  shared/src/shared/postgres/migrations/002_add_foreign_keys.sql
  shared/src/shared/postgres/migrations/003_add_urls_pending_claim_index.sql
  shared/src/shared/postgres/migrations/004_api_keys.sql
  shared/src/shared/postgres/migrations/__init__.py
  shared/src/shared/postgres/search.py
  shared/src/shared/search/indexer.py
  shared/src/shared/search/scoring.py
  shared/src/shared/search/searcher.py
  shared/src/shared/search/snippet.py
  shared/src/shared/search_kernel/__init__.py
  shared/src/shared/search_kernel/analyzer.py
  shared/src/shared/search_kernel/indexer.py
  shared/src/shared/search_kernel/pagerank.py
  shared/src/shared/search_kernel/scoring.py
  shared/src/shared/search_kernel/searcher.py
  shared/src/shared/search_kernel/snippet.py
Due: none

refactor: migrate settings to pydantic-settings BaseSettings
  crawler/src/app/core/config.py
  frontend/src/frontend/core/config.py
  indexer/src/app/core/config.py
  shared/src/shared/core/infrastructure_config.py
Due: pytest-frontend, pytest-crawler

refactor: remove SQLite fallback, consolidate on PostgreSQL
  .github/workflows/ci.yml
  crawler/src/app/db/url_store.py
  crawler/src/app/utils/history.py
  crawler/tests/conftest.py
  frontend/src/frontend/services/admin_analytics.py
  frontend/src/frontend/services/admin_dashboard.py
  frontend/src/frontend/services/analytics.py
  frontend/src/frontend/services/api_key.py
  frontend/tests/conftest.py
  frontend/tests/test_admin_analytics_filters.py
  frontend/tests/test_api_key.py
  frontend/tests/test_db_schema.py
  frontend/tests/test_db_unit.py
  frontend/tests/test_search_api_advanced.py
  frontend/tests/test_search_metrics.py
  indexer/src/app/services/index_jobs.py
  indexer/src/app/services/indexer.py
  indexer/tests/conftest.py
  shared/src/shared/db/migrate.py
  shared/src/shared/db/search.py
  shared/src/shared/postgres/__init__.py
  shared/src/shared/postgres/migrate.py
  shared/src/shared/postgres/search.py
  shared/src/shared/search_kernel/indexer.py
  shared/src/shared/search_kernel/searcher.py
  shared/src/shared/testing.py
  shared/tests/conftest.py
  shared/tests/test_custom_search.py
  shared/tests/test_freshness_scoring.py
  shared/tests/test_migrate.py
Due: pytest-frontend, pytest-crawler

refactor: introduce Alembic for schema management
  crawler/src/app/db/url_store.py
  crawler/src/app/utils/history.py
  crawler/tests/conftest.py
  db/alembic.ini
  db/alembic/env.py
  db/alembic/script.py.mako
  db/alembic/versions/001_initial_schema.py
  docker-compose.yml
  frontend/src/frontend/api/main.py
  frontend/tests/conftest.py
  frontend/tests/test_db_unit.py
  indexer/src/app/main.py
  indexer/src/app/worker.py
  indexer/tests/conftest.py
  shared/src/shared/postgres/migrate.py
  shared/src/shared/postgres/search.py
  shared/tests/conftest.py
  shared/tests/test_migrate.py
Due: pytest-frontend, pytest-crawler

refactor: introduce repository pattern for analytics and API keys
  frontend/src/frontend/services/admin_analytics.py
  frontend/src/frontend/services/admin_dashboard.py
  frontend/src/frontend/services/analytics.py
  frontend/src/frontend/services/api_key.py
  shared/src/shared/core/retry.py
  shared/src/shared/postgres/repositories/__init__.py
  shared/src/shared/postgres/repositories/analytics_repo.py
  shared/src/shared/postgres/repositories/api_key_repo.py
Due: pytest-frontend

fix: add alembic to shared dependencies for CI
  shared/setup.py
Due: none

fix: track crawler/data in git for Docker build
  .gitignore
  crawler/data/domain_blocklist.txt
Due: none

fix: copy db/ directory into frontend Docker image for Alembic migrations
  frontend/Dockerfile
Due: none

fix: prevent db-migrate restart loop in Docker deployment
  docker-compose.yml
Due: none

fix: resolve pydantic-settings list[str] env parsing error
  frontend/src/frontend/api/main.py
  frontend/src/frontend/core/config.py
  frontend/src/frontend/services/admin_analytics.py
  frontend/tests/test_admin_analytics_filters.py
Due: pytest-frontend

refactor: drop unused positions column from inverted_index
  db/alembic/versions/001_initial_schema.py
  db/alembic/versions/002_drop_positions_column.py
  frontend/tests/test_db_schema.py
  frontend/tests/test_db_unit.py
  shared/src/shared/search_kernel/indexer.py
  shared/tests/test_migrate.py
Due: pytest-frontend

feat: add OpenSearch infrastructure and dual-write support
  docker-compose.yml
  indexer/src/app/core/config.py
  indexer/src/app/services/indexer.py
  shared/setup.py
  shared/src/shared/opensearch/__init__.py
  shared/src/shared/opensearch/client.py
  shared/src/shared/opensearch/mapping.py
  shared/src/shared/opensearch/search.py
  shared/tests/test_opensearch.py
Due: none

feat: add OpenSearch backfill and verification scripts
  scripts/backfill_opensearch.py
  scripts/verify_opensearch.py
Due: none

feat: integrate OpenSearch into frontend search API
  docker-compose.yml
  frontend/src/frontend/core/config.py
  frontend/src/frontend/services/search.py
Due: pytest-frontend

fix: disable OpenSearch security plugin for single-node setup
  docker-compose.yml
Due: none

fix: hash long URLs for OpenSearch document IDs
  scripts/verify_opensearch.py
  shared/src/shared/opensearch/__init__.py
  shared/src/shared/opensearch/client.py
Due: none

refactor: drop inverted_index tables and PG BM25 code (Phase 4)
  db/alembic/versions/003_drop_inverted_index_tables.py
  frontend/src/frontend/services/search.py
  frontend/tests/conftest.py
  frontend/tests/test_db_schema.py
  frontend/tests/test_db_unit.py
  frontend/tests/test_search_features.py
  frontend/tests/test_search_semantic.py
  indexer/src/app/services/indexer.py
  indexer/tests/conftest.py
  indexer/tests/test_indexer_service.py
  scripts/add_foreign_keys.py
  scripts/inject_dummy_data.py
  scripts/reindex.py
  shared/src/shared/db/migrations/001_initial_schema.sql
  shared/src/shared/postgres/migrations/001_initial_schema.sql
  shared/src/shared/search/__init__.py
  shared/src/shared/search/scoring.py
  shared/src/shared/search_kernel/__init__.py
  shared/src/shared/search_kernel/indexer.py
  shared/src/shared/search_kernel/scoring.py
  shared/src/shared/search_kernel/searcher.py
  shared/tests/conftest.py
  shared/tests/test_bm25_stats_ttl.py
  shared/tests/test_custom_search.py
  shared/tests/test_freshness_scoring.py
  shared/tests/test_migrate.py
  shared/tests/test_result_cache.py
Due: pytest-frontend

fix: lazy-init OpenSearch client to handle startup race
  frontend/src/frontend/services/search.py
Due: pytest-frontend

refactor: remove dead _tokenize from SearchEngine
  shared/src/shared/search_kernel/searcher.py
Due: none

refactor: remove shared/search/ re-export layer
  frontend/src/frontend/services/search.py
  indexer/src/app/services/indexer.py
  scripts/inject_dummy_data.py
  shared/src/shared/search/__init__.py
  shared/src/shared/search/indexer.py
  shared/src/shared/search/searcher.py
  shared/src/shared/search/snippet.py
Due: pytest-frontend

refactor: inline SearchEngine into SearchService
  frontend/src/frontend/services/search.py
  frontend/tests/test_search_semantic.py
  shared/src/shared/search_kernel/__init__.py
  shared/src/shared/search_kernel/searcher.py
Due: pytest-frontend

refactor: deduplicate OpenSearch query methods in SearchService
  frontend/src/frontend/services/search.py
  frontend/tests/test_search_semantic.py
Due: pytest-frontend

refactor: canonicalize shared.db.search imports
  crawler/tests/conftest.py
  frontend/src/frontend/services/search.py
  frontend/tests/conftest.py
  frontend/tests/test_admin_analytics_filters.py
  frontend/tests/test_api_key.py
  frontend/tests/test_db_schema.py
  frontend/tests/test_db_unit.py
  frontend/tests/test_search_api_advanced.py
  frontend/tests/test_search_metrics.py
  indexer/tests/conftest.py
  scripts/backfill_opensearch.py
  scripts/verify_opensearch.py
  shared/src/shared/search_kernel/indexer.py
  shared/src/shared/search_kernel/pagerank.py
  shared/tests/conftest.py
  shared/tests/test_migrate.py
Due: pytest-frontend, pytest-crawler

refactor: add async DB executor module for crawler
  crawler/src/app/db/executor.py
Due: pytest-crawler

fix: prevent health check timeout during crawling
  crawler/src/app/api/routes/health.py
Due: pytest-crawler

fix: offload process_url and worker_loop DB calls to thread pool
  crawler/src/app/workers/tasks.py
Due: pytest-crawler

fix: offload API route and queue service DB calls to thread pool
  crawler/src/app/api/routes/history.py
  crawler/src/app/api/routes/stats.py
  crawler/src/app/services/queue.py
Due: pytest-crawler

fix: register DB executor shutdown in lifespan
  crawler/src/app/core/events.py
Due: pytest-crawler

chore: remove obsolete scripts referencing old web_search package
  scripts/benchmark_crawl.py
  scripts/evaluate_search.py
  scripts/fix_analyzer_tests.ps1
  scripts/generate_dataset.py
  scripts/profile_crawler.py
  scripts/replace_imports.ps1
Due: none

refactor: organize scripts/ into ops/, migrations/, dev/
  AGENTS.md
  docs/coolify-staging.md
  docs/setup.md
  scripts/dev/inject_dummy_data.py
  scripts/migrations/add_foreign_keys.py
  scripts/migrations/backfill_opensearch.py
  scripts/migrations/migrate_bytea_to_pgvector.py
  scripts/ops/calc_pagerank.py
  scripts/ops/coolify_staging_smoke.sh
  scripts/ops/seed_from_tranco.py
  scripts/ops/verify_opensearch.py
Due: none

refactor: move coolify.staging.env.example to deploy/
  deploy/coolify.staging.env.example
  docs/setup.md
Due: none
