Repository tomato414941/web-search: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-frontend, pytest-crawler

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install: pip install pre-commit && pre-commit install

repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict

  # Run Tests locally before commit (only when .py files change)
  - repo: local
    hooks:
      - id: pytest-frontend
        name: pytest (frontend)
        entry: bash -c "export ADMIN_USERNAME=test ADMIN_PASSWORD=test ADMIN_SESSION_SECRET=test INDEXER_API_KEY=test && cd frontend && ../.venv/bin/pytest tests/ -v --tb=short"
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^frontend/
      - id: pytest-crawler
        name: pytest (crawler)
        entry: bash -c "export INDEXER_API_KEY=test && cd crawler && ../.venv/bin/pytest tests/ -v --tb=short"
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^crawler/

refactor: extract scoring functions from indexer.py
  indexer/src/app/services/indexer.py
  indexer/src/app/services/scoring.py
Due: none

refactor: separate test deps from production requirements
  crawler/requirements.txt
  frontend/requirements.txt
  indexer/requirements.txt
  mcp/requirements.txt
  requirements-dev.txt
  shared/setup.py
Due: none

fix: add requirements-dev.txt to CI workflow
  .github/workflows/ci.yml
Due: none

refactor: split urls into discovery ledger + crawl_queue
  crawler/src/app/api/routes/queue.py
  crawler/src/app/api/routes/seeds.py
  crawler/src/app/db/url_lifecycle.py
  crawler/src/app/db/url_queries.py
  crawler/src/app/db/url_seeds.py
  crawler/src/app/db/url_store.py
  crawler/src/app/db/url_types.py
  crawler/src/app/models/queue.py
  crawler/src/app/models/seeds.py
  crawler/src/app/scheduler.py
  crawler/src/app/services/queue.py
  crawler/src/app/services/seeds.py
  crawler/src/app/workers/pipeline.py
  crawler/src/app/workers/tasks.py
  crawler/tests/conftest.py
  crawler/tests/test_api_endpoints.py
  crawler/tests/test_integration.py
  crawler/tests/test_pipeline.py
  crawler/tests/test_scheduler.py
  db/alembic/versions/010_redesign_urls_table.py
Due: pytest-crawler

feat: add full-text content API for RAG use cases
  frontend/src/frontend/api/deps.py
  frontend/src/frontend/api/main.py
  frontend/src/frontend/api/routers/content_api.py
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/services/search.py
  shared/src/shared/postgres/repositories/analytics_repo.py
  shared/tests/test_migrate.py
Due: pytest-frontend

feat: add fetch_content tool and include_content to MCP server
  mcp/src/paleblue_mcp/client.py
  mcp/src/paleblue_mcp/server.py
  mcp/tests/test_server.py
Due: none

feat: expand Japanese seed domains for news, gov, academic
  crawler/data/ai_seeds.csv
Due: none

fix: add Request type annotation to content API endpoint
  frontend/src/frontend/api/routers/content_api.py
Due: pytest-frontend

ops: add lightweight staging compose
  deploy/coolify.staging.env.example
  docker-compose.coolify.yml
  docs/coolify-staging.md
  docs/setup.md
Due: none

ops: make staging compose lightweight by default
  .env.example
  README.md
  docker-compose.coolify.yml
  docker-compose.yml
  docs/coolify-staging.md
  docs/setup.md
Due: none

refactor: split indexer worker roles
  .env.example
  deploy/coolify.staging.env.example
  docker-compose.override.yml
  docker-compose.yml
  docs/coolify-staging.md
  indexer/src/app/worker.py
  indexer/tests/test_worker_modes.py
Due: none

ops: cap staging resource budgets
  .env.example
  deploy/coolify.staging.env.example
  docker-compose.yml
  docs/coolify-staging.md
Due: none

feat: add indexer worker metrics
  indexer/requirements.txt
  indexer/src/app/main.py
  indexer/src/app/metrics.py
  indexer/src/app/services/index_jobs.py
  indexer/src/app/worker.py
  indexer/tests/test_api.py
  indexer/tests/test_worker_modes.py
Due: none

feat: add monitoring profile
  .env.example
  README.md
  deploy/coolify.staging.env.example
  deploy/monitoring/grafana/dashboards/web-search-overview.json
  deploy/monitoring/grafana/provisioning/dashboards/dashboards.yml
  deploy/monitoring/grafana/provisioning/datasources/prometheus.yml
  deploy/monitoring/prometheus/prometheus.yml
  docker-compose.yml
  docs/coolify-staging.md
  docs/setup.md
  frontend/src/frontend/api/metrics.py
  frontend/tests/test_metrics_endpoint.py
Due: pytest-frontend

fix: mount prometheus config directory
  docker-compose.yml
Due: none

fix: run monitoring services as root
  docker-compose.yml
Due: none

fix: always pull monitoring images
  docker-compose.yml
Due: none

fix: rename prometheus config path
  deploy/monitoring/prometheus/config.yml
  docker-compose.yml
Due: none

refactor: bake monitoring configs into images
  deploy/monitoring/grafana/Dockerfile
  deploy/monitoring/prometheus/Dockerfile
  docker-compose.yml
Due: none

fix: wire staging monitoring targets
  .env.example
  deploy/coolify.staging.env.example
  deploy/monitoring/grafana/Dockerfile
  deploy/monitoring/grafana/provisioning/dashboards/dashboards.yml
  docker-compose.yml
  docs/coolify-staging.md
Due: none

ops: make opensearch limits configurable
  .env.example
  deploy/coolify.staging.env.example
  docker-compose.yml
Due: none

feat: add monitoring alert rules
  deploy/monitoring/grafana/dashboards/web-search-overview.json
  deploy/monitoring/prometheus/Dockerfile
  deploy/monitoring/prometheus/alerts.yml
  deploy/monitoring/prometheus/config.yml
Due: none

ops: decouple monitoring health from deploy gating
  docker-compose.yml
  docs/coolify-staging.md
Due: none

ops: verify deploys from actual runtime state
  scripts/ops/verify_coolify_deploy.sh
Due: none

fix: preserve pagination query state
  frontend/src/frontend/api/routers/search.py
  frontend/src/frontend/templates/search.html
  frontend/tests/test_app.py
Due: pytest-frontend

feat: support advanced search operators
  docs/api.md
  frontend/src/frontend/services/search.py
  frontend/tests/test_search_semantic.py
  shared/src/shared/opensearch/search.py
  shared/src/shared/search_kernel/searcher.py
  shared/tests/test_custom_search.py
  shared/tests/test_opensearch.py
Due: pytest-frontend

fix: honor operators in semantic search
  frontend/src/frontend/services/search.py
  frontend/tests/test_search_semantic.py
Due: pytest-frontend

fix: align ruff formatting checks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  frontend/src/frontend/services/search.py
Due: pytest-frontend

refactor: split frontend search service
  frontend/src/frontend/services/search.py
  frontend/src/frontend/services/search_opensearch.py
  frontend/src/frontend/services/search_pgvector.py
  frontend/src/frontend/services/search_query.py
  frontend/src/frontend/services/search_response.py
  frontend/tests/test_search_helpers.py
  frontend/tests/test_search_semantic.py
Due: pytest-frontend

test: make admin session tamper check deterministic
  frontend/tests/test_admin_auth.py
Due: pytest-frontend

test: stabilize frontend local ci
  Makefile
  frontend/tests/conftest.py
  frontend/tests/test_admin_auth.py
  requirements-dev.txt
Due: pytest-frontend

test: unify frontend test client setup
  .pre-commit-config.yaml
  frontend/tests/test_api_extensions.py
  frontend/tests/test_app.py
  frontend/tests/test_metrics_endpoint.py
  frontend/tests/test_search_api_advanced.py
  frontend/tests/test_search_metrics.py
  frontend/tests/test_search_semantic.py
Due: pytest-frontend

build: unify local ci entrypoints
  .pre-commit-config.yaml
  Makefile
Due: none

build: align github actions with make targets
  .github/workflows/ci.yml
  Makefile
Due: none

test: add search module coverage
  frontend/tests/test_search_modules.py
Due: pytest-frontend

ops: add release verification commands
  Makefile
  scripts/ops/run_coolify_staging_smoke_via_frontend.sh
  scripts/ops/watch_latest_ci.sh
Due: none

ops: run ci on production pushes
  .github/workflows/ci.yml
  scripts/ops/watch_latest_ci.sh
Due: none

ops: separate opensearch backfill profile
  README.md
  docker-compose.yml
  docs/coolify-staging.md
  docs/setup.md
Due: none

fix: speed up admin indexer status
  frontend/src/frontend/api/routers/admin_indexer.py
  frontend/src/frontend/core/config.py
  frontend/src/frontend/services/indexer_admin_client.py
  frontend/tests/test_indexer_admin_client.py
  indexer/src/app/api/routes/indexer.py
  indexer/src/app/core/config.py
  indexer/src/app/services/indexer.py
  indexer/tests/test_api.py
Due: pytest-frontend

perf: speed up admin crawler pages
  crawler/src/app/api/routes/seeds.py
  crawler/src/app/api/routes/stats.py
  crawler/src/app/db/url_seeds.py
  crawler/src/app/models/seeds.py
  crawler/src/app/services/seeds.py
  crawler/tests/test_api_endpoints.py
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/core/config.py
  frontend/src/frontend/services/admin_dashboard.py
  frontend/src/frontend/services/crawler_admin_client.py
  frontend/src/frontend/templates/admin/seeds.html
  frontend/tests/test_crawler_admin_client.py
Due: pytest-frontend, pytest-crawler
