Repository tomato414941/web-search: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-frontend, pytest-crawler

pytest-frontend:
  name: pytest (frontend)
  entry: bash -c "export ADMIN_USERNAME=test ADMIN_PASSWORD=test ADMIN_SESSION_SECRET=test INDEXER_API_KEY=test && cd frontend && ../.venv/bin/pytest tests/ -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false

pytest-crawler:
  name: pytest (crawler)
  entry: bash -c "export INDEXER_API_KEY=test && cd crawler && ../.venv/bin/pytest tests/ -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false

fix: reduce crawler memory pressure
  crawler/src/app/core/config.py
  crawler/src/app/utils/robots.py
  crawler/src/app/workers/tasks.py
Due: pytest-crawler

refactor: migrate crawl denylist from txt to YAML with audit fields
  crawler/data/crawl_denylist.txt
  crawler/data/crawl_denylist.yml
  crawler/src/app/core/config.py
  crawler/src/app/core/crawl_denylist.py
  crawler/tests/test_crawl_denylist.py
Due: pytest-crawler

feat: refine source-aware docs retrieval
  frontend/src/frontend/services/search_opensearch.py
  frontend/src/frontend/services/search_ranking_policy.py
  frontend/tests/test_search_modules.py
  frontend/tests/test_search_ranking_policy.py
  shared/src/shared/opensearch/search.py
  shared/tests/test_opensearch.py
Due: pytest-frontend

feat: add work_mem to postgres tuning parameters
  docker-compose.yml
Due: none

perf: remove unused index_jobs queue metrics polling
  indexer/src/app/api/routes/indexer.py
  indexer/src/app/metrics.py
  indexer/src/app/worker.py
  indexer/tests/test_api.py
  indexer/tests/test_worker_modes.py
Due: none

perf: replace index_jobs full table scan with indexed status counts
  frontend/src/frontend/services/indexer_admin_client.py
  frontend/src/frontend/templates/admin/indexer.html
  indexer/src/app/api/routes/indexer.py
  indexer/src/app/services/index_jobs.py
Due: pytest-frontend

feat: split crawl enqueue and crawl-now APIs
  crawler/src/app/api/routes/crawl.py
  crawler/src/app/models/crawl.py
  crawler/src/app/services/direct_crawl.py
  crawler/tests/test_api_endpoints.py
  docs/api.md
  frontend/src/frontend/api/routers/crawler.py
  frontend/tests/test_api_extensions.py
Due: pytest-frontend, pytest-crawler

feat: add admin crawl-now action
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/services/crawler_admin_client.py
  frontend/src/frontend/templates/admin/queue.html
  frontend/tests/test_admin_auth.py
Due: pytest-frontend

fix: disable admin crawl actions when crawler is unavailable
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/templates/admin/queue.html
  frontend/tests/test_admin_auth.py
Due: pytest-frontend

feat: add URL pattern filters to skip non-content URLs
  crawler/data/url_filters.yml
  crawler/src/app/core/config.py
  crawler/src/app/core/url_filters.py
  crawler/src/app/services/direct_crawl.py
  crawler/src/app/workers/pipeline.py
  crawler/src/app/workers/tasks.py
  crawler/tests/test_url_filters.py
Due: pytest-crawler

feat: persist bm25 seed sources
  crawler/data/ai_seeds.csv
  scripts/ops/seed_from_ai_list.py
  shared/tests/test_seed_from_ai_list.py
Due: none

feat: improve docs coverage for kubernetes and typescript
  crawler/data/ai_seeds.csv
  frontend/src/frontend/services/search_ranking_policy.py
  frontend/tests/test_search_ranking_policy.py
Due: pytest-frontend

chore: simplify direct push operations
  .github/workflows/production-deploy.yml
  AGENTS.md
  docs/deployment.md
Due: none

chore: remove workflow production deploy
  .github/workflows/production-deploy.yml
  Makefile
  docs/deployment.md
  scripts/ops/dispatch_production_deploy.sh
Due: none

fix: align production verification with optional profiles
  docs/deployment.md
  scripts/ops/verify_compose_deploy.sh
Due: none

fix: pass production volume names to compose deploy
  docs/deployment.md
  scripts/ops/deploy_compose.sh
Due: none

docs: simplify public deployment docs
  AGENTS.md
  README.md
  docs/README.md
  docs/deployment.md
  docs/setup.md
Due: none

chore: simplify search evaluation status
  Makefile
  config/canonical_sources.json
  config/search_eval_cases.json
  docs/README.md
  docs/search-evaluation.md
  docs/search-ranking-policy.md
  packages/search-config/src/web_search_search_config/canonical_sources.py
  packages/search-config/src/web_search_search_config/cli/evaluate_search.py
  packages/search-config/src/web_search_search_config/cli/validate_search_eval_config.py
  packages/search-config/src/web_search_search_config/evaluator.py
  packages/search-config/src/web_search_search_config/search_eval.py
  packages/search-config/tests/test_canonical_sources.py
  packages/search-config/tests/test_search_eval_core.py
  packages/search-config/tests/test_search_eval_script.py
Due: none

chore: remove configurable search eval failure status
  config/canonical_sources.json
  packages/search-config/src/web_search_search_config/canonical_sources.py
  packages/search-config/src/web_search_search_config/cli/evaluate_search.py
  packages/search-config/src/web_search_search_config/cli/validate_search_eval_config.py
  packages/search-config/src/web_search_search_config/evaluator.py
  packages/search-config/src/web_search_search_config/search_eval.py
  packages/search-config/tests/test_canonical_sources.py
  packages/search-config/tests/test_search_eval_script.py
Due: none

chore: remove manual search eval status
  docs/search-evaluation.md
  packages/search-config/src/web_search_search_config/canonical_sources.py
  packages/search-config/src/web_search_search_config/cli/evaluate_search.py
  packages/search-config/src/web_search_search_config/evaluator.py
Due: none

docs: soften search evaluation wording
  README.md
  docs/search-ranking-policy.md
Due: none

docs: add RSS discovery issues
  issues/feed-entry-url-ledger.md
  issues/feed-url-discovery-provenance.md
  issues/rss-feed-autodiscovery.md
Due: none

docs: add crawler pipeline responsibility issue
  issues/crawler-pipeline-module-responsibility.md
Due: none

refactor: split URL discovery from frontier admission
  apps/crawler/src/web_search_crawler/cli/requeue_blocked_robots_urls.py
  apps/crawler/src/web_search_crawler/db/url_discovery.py
  apps/crawler/src/web_search_crawler/db/url_frontier.py
  apps/crawler/src/web_search_crawler/db/url_store.py
  apps/crawler/src/web_search_crawler/services/frontier.py
  apps/crawler/src/web_search_crawler/services/seeds.py
  apps/crawler/src/web_search_crawler/workers/pipeline.py
  apps/crawler/tests/test_api_endpoints.py
  apps/crawler/tests/test_integration.py
  apps/crawler/tests/test_pipeline.py
  db/alembic/versions/022_add_url_discovery_metadata.py
  docs/architecture.md
  issues/closed/feed-entry-url-ledger.md
Due: none

docs: add crawler compatibility cleanup issue
  issues/remove-crawler-compatibility-shims.md
Due: none

refactor: remove crawler compatibility shims
  apps/crawler/src/web_search_crawler/db/url_admin_state.py
  apps/crawler/src/web_search_crawler/db/url_discovery.py
  apps/crawler/src/web_search_crawler/db/url_frontier.py
  apps/crawler/src/web_search_crawler/workers/pipeline.py
  apps/crawler/src/web_search_crawler/workers/tasks.py
  apps/crawler/tests/test_api_endpoints.py
  apps/crawler/tests/test_integration.py
  issues/closed/remove-crawler-compatibility-shims.md
Due: none

feat: discover RSS alternate links
  apps/crawler/src/web_search_crawler/data/url_admission_rules.yml
  apps/crawler/src/web_search_crawler/utils/parser.py
  apps/crawler/src/web_search_crawler/workers/pipeline.py
  apps/crawler/tests/test_parser_utils.py
  apps/crawler/tests/test_pipeline.py
  issues/closed/rss-feed-autodiscovery.md
Due: none

refactor: extract crawler feed processing
  apps/crawler/src/web_search_crawler/services/direct_crawl.py
  apps/crawler/src/web_search_crawler/services/feed_processing.py
  apps/crawler/src/web_search_crawler/workers/pipeline.py
  apps/crawler/src/web_search_crawler/workers/tasks.py
  apps/crawler/src/web_search_crawler/workers/timing.py
  apps/crawler/src/web_search_crawler/workers/types.py
  apps/crawler/tests/test_integration.py
  apps/crawler/tests/test_pipeline.py
  issues/crawler-pipeline-module-responsibility.md
Due: none

refactor: centralize discovered URL admission
  apps/crawler/src/web_search_crawler/services/feed_processing.py
  apps/crawler/src/web_search_crawler/services/url_discovery.py
  apps/crawler/src/web_search_crawler/workers/pipeline.py
  apps/crawler/tests/test_pipeline.py
Due: none

refactor: extract crawler HTML processing
  apps/crawler/src/web_search_crawler/services/html_processing.py
  apps/crawler/src/web_search_crawler/workers/pipeline.py
  apps/crawler/tests/test_integration.py
  apps/crawler/tests/test_pipeline.py
  issues/crawler-pipeline-module-responsibility.md
Due: none

docs: close crawler pipeline responsibility issue
  issues/closed/crawler-pipeline-module-responsibility.md
Due: none

docs: close feed discovery provenance issue
  issues/closed/feed-url-discovery-provenance.md
Due: none

refactor: move domain crawl result updates
  apps/crawler/src/web_search_crawler/db/url_domain_state.py
  apps/crawler/src/web_search_crawler/db/url_frontier.py
Due: none

refactor: split crawler instance read model
  apps/frontend/src/web_search_frontend/api/main.py
  apps/frontend/src/web_search_frontend/api/routers/admin_crawlers.py
  apps/frontend/src/web_search_frontend/services/crawler_admin_client.py
  apps/frontend/src/web_search_frontend/services/crawler_instances.py
  apps/frontend/tests/test_crawler_instances.py
Due: none

docs: close large local modules issue
  issues/closed/large-local-modules-refactor.md
Due: none

docs: track frontier entries responsibility
  issues/frontier-entries-responsibility.md
Due: none

docs: track urls ledger responsibility
  issues/urls-ledger-responsibility.md
Due: none

refactor: simplify seed list payload
  apps/crawler/src/web_search_crawler/db/url_seeds.py
  apps/crawler/src/web_search_crawler/models/seeds.py
  apps/crawler/src/web_search_crawler/services/seeds.py
  apps/crawler/tests/test_api_endpoints.py
Due: none

refactor: remove unused recent crawl query
  apps/crawler/src/web_search_crawler/db/url_queries.py
Due: none

Path conditions:
  pytest-frontend: any of: ^frontend/ and \.py$
  pytest-crawler: any of: ^crawler/ and \.py$
