Repository tomato414941/web-search: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-frontend, pytest-crawler

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install: pip install pre-commit && pre-commit install

repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict

  # Run Tests locally before commit (only when .py files change)
  - repo: local
    hooks:
      - id: pytest-frontend
        name: pytest (frontend)
        entry: bash -c "export ADMIN_USERNAME=test ADMIN_PASSWORD=test ADMIN_SESSION_SECRET=test INDEXER_API_KEY=test && cd frontend && ../.venv/bin/pytest tests/ -v --tb=short"
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^frontend/
      - id: pytest-crawler
        name: pytest (crawler)
        entry: bash -c "export INDEXER_API_KEY=test && cd crawler && ../.venv/bin/pytest tests/ -v --tb=short"
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: ^crawler/

fix: render paginated admin seeds
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/templates/admin/seeds.html
  frontend/tests/test_admin_auth.py
Due: pytest-frontend

perf: cache admin dashboard data
  frontend/src/frontend/core/config.py
  frontend/src/frontend/services/admin_dashboard.py
  frontend/tests/test_admin_analytics_filters.py
  shared/src/shared/postgres/repositories/analytics_repo.py
Due: pytest-frontend

perf: prewarm admin caches
  crawler/src/app/api/routes/seeds.py
  crawler/src/app/api/routes/stats.py
  crawler/src/app/core/events.py
  crawler/tests/test_api_endpoints.py
  frontend/src/frontend/api/main.py
  frontend/src/frontend/services/admin_dashboard.py
  frontend/tests/test_admin_analytics_filters.py
  indexer/src/app/api/routes/indexer.py
  indexer/src/app/main.py
  indexer/tests/test_api.py
Due: pytest-frontend, pytest-crawler

perf: extend admin prewarm retries
  frontend/src/frontend/services/admin_dashboard.py
  indexer/src/app/api/routes/indexer.py
Due: pytest-frontend

perf: share admin cache across workers
  frontend/src/frontend/services/admin_dashboard.py
  frontend/tests/test_admin_analytics_filters.py
  indexer/src/app/api/routes/indexer.py
  indexer/tests/test_api.py
Due: pytest-frontend

perf: extend admin cache ttl
  frontend/src/frontend/core/config.py
  indexer/src/app/core/config.py
Due: pytest-frontend

perf: keep admin caches warm
  Makefile
  crawler/src/app/core/config.py
  crawler/src/app/core/events.py
  crawler/tests/test_api_endpoints.py
  frontend/src/frontend/api/main.py
  frontend/src/frontend/api/metrics.py
  frontend/src/frontend/core/config.py
  frontend/src/frontend/services/admin_dashboard.py
  frontend/tests/test_admin_analytics_filters.py
  frontend/tests/test_metrics_endpoint.py
  indexer/src/app/api/routes/indexer.py
  indexer/src/app/core/config.py
  indexer/src/app/main.py
  indexer/tests/test_api.py
  scripts/ops/verify_admin_pages.sh
Due: pytest-frontend, pytest-crawler

ops: auto-resolve staging smoke api key
  scripts/ops/run_coolify_staging_smoke_via_frontend.sh
Due: none

refactor: share admin refresh loop
  crawler/src/app/core/events.py
  crawler/tests/test_api_endpoints.py
  frontend/src/frontend/services/admin_dashboard.py
  frontend/tests/test_admin_analytics_filters.py
  indexer/src/app/api/routes/indexer.py
  indexer/tests/test_api.py
  shared/src/shared/core/background.py
  shared/tests/test_background.py
Due: pytest-frontend, pytest-crawler

perf: cache crawler admin status
  frontend/src/frontend/api/main.py
  frontend/src/frontend/api/routers/admin_crawlers.py
  frontend/src/frontend/services/crawler_admin_client.py
  frontend/tests/test_crawler_admin_client.py
Due: pytest-frontend

refactor: share frontend json cache
  frontend/src/frontend/services/admin_dashboard.py
  frontend/src/frontend/services/crawler_admin_client.py
  frontend/src/frontend/services/shared_json_cache.py
  frontend/tests/test_shared_json_cache.py
Due: pytest-frontend

refactor: drop admin router re-exports
  frontend/src/frontend/api/routers/admin.py
  frontend/tests/test_admin_analytics_filters.py
  frontend/tests/test_admin_auth.py
Due: pytest-frontend

refactor: remove unused compat shims
  crawler/tests/conftest.py
  frontend/src/frontend/api/routers/crawler.py
  frontend/src/frontend/services/crawler_admin_client.py
  frontend/tests/conftest.py
  indexer/src/app/api/routes/indexer.py
Due: pytest-frontend, pytest-crawler

refactor: simplify admin redirects
  frontend/src/frontend/api/routers/admin.py
  frontend/tests/test_admin_auth.py
Due: pytest-frontend

test: cover admin crawler and indexer routes
  frontend/tests/test_admin_auth.py
Due: pytest-frontend

docs: clarify documentation roles
  README.md
  docs/html-storage.md
  docs/japanese_tokenization.md
  docs/product-direction.md
  docs/setup.md
  indexer/README.md
Due: none

docs: add search evaluation baseline
  README.md
  docs/search-evaluation.md
Due: none

refactor: simplify search ranking flow
  frontend/src/frontend/services/search_opensearch.py
  frontend/src/frontend/services/search_query.py
  frontend/tests/test_search_helpers.py
  frontend/tests/test_search_modules.py
  shared/src/shared/opensearch/search.py
  shared/tests/test_opensearch.py
Due: pytest-frontend

ops: add search evaluation command
  Makefile
  scripts/ops/evaluate_search.py
Due: none

fix: use protego for robots parsing
  crawler/requirements.txt
  crawler/src/app/utils/robots.py
  crawler/tests/test_robots_cache.py
Due: pytest-crawler

ops: add robots repair requeue script
  Makefile
  scripts/ops/requeue_blocked_robots_urls.py
Due: none

refactor: remove crawler priority scoring leftovers
  crawler/src/app/api/routes/scoring.py
  crawler/src/app/db/url_seeds.py
  crawler/src/app/domain/domain_ranks.py
  crawler/src/app/domain/scoring.py
  crawler/src/app/main.py
  crawler/src/app/workers/tasks.py
  crawler/tests/test_domain_ranks.py
  crawler/tests/test_scoring.py
  docs/api.md
  docs/architecture.md
  frontend/src/frontend/api/routers/search_api.py
Due: pytest-frontend, pytest-crawler

test: remove dead tests (tautological mocks, duplicates, trivial assertions)
  crawler/tests/test_api_endpoints.py
  crawler/tests/test_indexer_client.py
  crawler/tests/test_pipeline.py
  crawler/tests/test_scheduler.py
  crawler/tests/test_worker_lifecycle.py
  frontend/tests/test_admin_auth.py
  frontend/tests/test_api_extensions.py
  frontend/tests/test_db_unit.py
  frontend/tests/test_indexer_admin_client.py
  frontend/tests/test_minimal.py
  frontend/tests/test_search_caching.py
  indexer/tests/test_indexer_service.py
  indexer/tests/test_stale_links.py
  mcp/tests/test_client.py
  mcp/tests/test_server.py
  shared/tests/test_infrastructure_config.py
  shared/tests/test_opensearch.py
Due: pytest-frontend, pytest-crawler

refactor: remove dead crawler domain rank cache
  crawler/src/app/domain/domain_ranks.py
  crawler/src/app/workers/tasks.py
  crawler/tests/test_domain_ranks.py
Due: pytest-crawler

refactor: remove redundant frontend health aliases
  frontend/src/frontend/api/routers/system.py
  frontend/tests/test_app.py
Due: pytest-frontend

refactor: remove service health aliases
  crawler/src/app/api/routes/health.py
  crawler/tests/test_api_endpoints.py
  indexer/src/app/api/routes/health.py
  indexer/tests/test_api.py
Due: pytest-crawler

refactor: remove speculative search reranking
  README.md
  docs/api.md
  docs/content-quality.md
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/services/search_opensearch.py
  frontend/src/frontend/services/search_response.py
  frontend/tests/test_search_helpers.py
  frontend/tests/test_search_modules.py
  frontend/tests/test_search_semantic.py
  mcp/src/paleblue_mcp/server.py
  scripts/ops/evaluate_search.py
  shared/src/shared/search_kernel/claim_diversity.py
  shared/src/shared/search_kernel/scope_match.py
  shared/src/shared/search_kernel/searcher.py
Due: pytest-frontend

fix: boost canonical search sources
  README.md
  docs/search-ranking-policy.md
  frontend/src/frontend/services/search_opensearch.py
  frontend/src/frontend/services/search_ranking_policy.py
  frontend/tests/test_search_modules.py
  frontend/tests/test_search_ranking_policy.py
Due: pytest-frontend

refactor: remove query-time vector search
  README.md
  docs/api.md
  docs/architecture.md
  docs/japanese_tokenization.md
  docs/search-evaluation.md
  docs/setup.md
  frontend/src/frontend/api/routers/search.py
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/api/routers/system.py
  frontend/src/frontend/i18n/messages.py
  frontend/src/frontend/services/embedding.py
  frontend/src/frontend/services/search.py
  frontend/src/frontend/services/search_opensearch.py
  frontend/src/frontend/services/search_pgvector.py
  frontend/src/frontend/services/search_query.py
  frontend/src/frontend/services/search_ranking_policy.py
  frontend/src/frontend/templates/search.html
  frontend/tests/test_app.py
  frontend/tests/test_search_caching.py
  frontend/tests/test_search_helpers.py
  frontend/tests/test_search_modules.py
  frontend/tests/test_search_semantic.py
  mcp/README.md
  mcp/src/paleblue_mcp/server.py
  mcp/tests/test_client.py
  shared/src/shared/contracts/enums.py
  shared/src/shared/opensearch/search.py
  shared/src/shared/search_kernel/searcher.py
Due: pytest-frontend

refactor: remove auto search mode
  README.md
  docs/api.md
  frontend/src/frontend/api/routers/search.py
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/services/search.py
  frontend/tests/test_app.py
  mcp/README.md
  mcp/src/paleblue_mcp/client.py
  mcp/src/paleblue_mcp/server.py
  mcp/tests/test_client.py
  shared/src/shared/contracts/enums.py
Due: pytest-frontend

fix: widen navigational search candidate window
  frontend/src/frontend/services/search_ranking_policy.py
  frontend/tests/test_search_modules.py
  frontend/tests/test_search_ranking_policy.py
Due: pytest-frontend

fix: enrich sparse homepage content
  crawler/src/app/utils/parser.py
  crawler/tests/test_parser_utils.py
Due: pytest-crawler

fix: add canonical retrieval signals
  frontend/src/frontend/services/search_opensearch.py
  frontend/tests/test_search_modules.py
  indexer/src/app/services/indexer.py
  indexer/tests/test_indexer_service.py
  shared/src/shared/opensearch/client.py
  shared/src/shared/opensearch/mapping.py
  shared/src/shared/opensearch/search.py
  shared/tests/test_opensearch.py
Due: pytest-frontend

ops: add canonical repair command
  Makefile
  scripts/ops/repair_canonical_search_urls.py
Due: none

fix: relax bm25 minimum match
  shared/src/shared/opensearch/search.py
  shared/tests/test_opensearch.py
Due: none

fix: use developers docs for openai canonical source
  docs/search-evaluation.md
  docs/search-ranking-policy.md
  frontend/src/frontend/services/search_ranking_policy.py
  frontend/tests/test_search_ranking_policy.py
  scripts/ops/evaluate_search.py
  scripts/ops/repair_canonical_search_urls.py
Due: pytest-frontend

fix: index seed admin queries
  db/alembic/versions/011_add_seed_indexes.py
Due: none

test: update migration version assertion
  shared/tests/test_migrate.py
Due: none

docs: tighten search evaluation rubric
  docs/search-evaluation.md
  scripts/ops/evaluate_search.py
Due: none

docs: classify BM25 eval as fail
  docs/search-evaluation.md
  scripts/ops/evaluate_search.py
Due: none
