Repository tomato414941/web-search: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-frontend, pytest-crawler

pytest-frontend:
  name: pytest (frontend)
  entry: bash -c "export ADMIN_USERNAME=test ADMIN_PASSWORD=test ADMIN_SESSION_SECRET=test INDEXER_API_KEY=test && cd frontend && ../.venv/bin/pytest tests/ -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false

pytest-crawler:
  name: pytest (crawler)
  entry: bash -c "export INDEXER_API_KEY=test && cd crawler && ../.venv/bin/pytest tests/ -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false

fix: serialize postgres schema initialization with advisory lock
  shared/src/shared/db/search.py
Due: none

fix: improve crawl history nav label and long-url wrapping
  frontend/src/frontend/templates/admin/analytics.html
  frontend/src/frontend/templates/admin/base.html
  frontend/src/frontend/templates/admin/crawlers.html
  frontend/src/frontend/templates/admin/dashboard.html
  frontend/src/frontend/templates/admin/history.html
  frontend/src/frontend/templates/admin/queue.html
  frontend/src/frontend/templates/admin/seeds.html
Due: none

fix: simplify tranco import count input
  crawler/src/app/models/seeds.py
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/templates/admin/seeds.html
  frontend/tests/test_admin_auth.py
Due: pytest-frontend, pytest-crawler

fix: harden crawl error signals and analytics noise
  crawler/src/app/services/indexer.py
  crawler/src/app/utils/parser.py
  crawler/src/app/workers/tasks.py
  crawler/tests/test_indexer_client.py
  crawler/tests/test_integration.py
  crawler/tests/test_parser_utils.py
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/core/config.py
  frontend/tests/test_admin_analytics_filters.py
  indexer/src/app/services/indexer.py
  indexer/tests/test_api.py
  shared/src/shared/core/utils.py
Due: pytest-frontend, pytest-crawler

refactor: split admin router services
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/services/admin_analytics.py
  frontend/src/frontend/services/admin_auth.py
  frontend/src/frontend/services/admin_dashboard.py
  frontend/src/frontend/services/crawler_admin_client.py
  frontend/src/frontend/services/db_helpers.py
  frontend/tests/test_admin_analytics_filters.py
  frontend/tests/test_admin_auth.py
  frontend/tests/test_db_helpers.py
Due: pytest-frontend

refactor: finalize indexer db lifecycle
  indexer/src/app/services/indexer.py
  indexer/tests/test_indexer_service.py
Due: none

refactor: harden crawler lifecycle and unify sql placeholders
  crawler/src/app/db/url_store.py
  crawler/src/app/utils/history.py
  crawler/src/app/workers/tasks.py
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/api/routers/admin_crawlers.py
  frontend/src/frontend/services/admin_analytics.py
  frontend/src/frontend/services/admin_dashboard.py
  frontend/src/frontend/services/analytics.py
  indexer/src/app/services/indexer.py
  shared/src/shared/db/search.py
  shared/src/shared/pagerank.py
  shared/src/shared/search/indexer.py
  shared/src/shared/search/scoring.py
  shared/src/shared/search/searcher.py
Due: pytest-frontend, pytest-crawler

feat: expose crawler metrics in admin
  crawler/src/app/api/routes/stats.py
  crawler/src/app/models/worker.py
  crawler/src/app/services/worker.py
  crawler/src/app/utils/history.py
  crawler/src/app/workers/manager.py
  crawler/tests/conftest.py
  crawler/tests/test_api_endpoints.py
  crawler/tests/test_worker_lifecycle.py
  frontend/src/frontend/services/crawler_admin_client.py
  frontend/src/frontend/templates/admin/crawlers.html
  frontend/tests/test_admin_auth.py
  frontend/tests/test_crawler_admin_client.py
Due: pytest-frontend, pytest-crawler

feat: add async index job queue pipeline
  .env.example
  crawler/src/app/api/routes/stats.py
  crawler/src/app/services/indexer.py
  crawler/src/app/workers/tasks.py
  crawler/tests/test_indexer_client.py
  crawler/tests/test_integration.py
  indexer/src/app/api/routes/indexer.py
  indexer/src/app/core/config.py
  indexer/src/app/main.py
  indexer/src/app/services/index_jobs.py
  indexer/tests/conftest.py
  indexer/tests/test_api.py
  indexer/tests/test_index_jobs.py
  shared/src/shared/db/search.py
Due: pytest-crawler

chore: add coolify staging deployment assets
  coolify.staging.env.example
  docker-compose.coolify.yml
  docs/api.md
  docs/coolify-staging.md
  docs/setup.md
  indexer/README.md
  scripts/coolify_staging_smoke.sh
Due: none

fix: prevent admin table overflow across tabs
  frontend/src/frontend/templates/admin/analytics.html
  frontend/src/frontend/templates/admin/base.html
  frontend/src/frontend/templates/admin/crawlers.html
  frontend/src/frontend/templates/admin/dashboard.html
  frontend/src/frontend/templates/admin/history.html
  frontend/src/frontend/templates/admin/queue.html
  frontend/src/frontend/templates/admin/seeds.html
Due: none

fix: unify admin scrollbars and compact crawlers table
  frontend/src/frontend/templates/admin/base.html
  frontend/src/frontend/templates/admin/crawlers.html
Due: none

docs: symlink CLAUDE.md to AGENTS.md
  CLAUDE.md
Due: none

feat: add indexer stats tab in admin
  .env.example
  docker-compose.coolify.yml
  docker-compose.yml
  frontend/.env.example
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/api/routers/admin_indexer.py
  frontend/src/frontend/core/config.py
  frontend/src/frontend/services/indexer_admin_client.py
  frontend/src/frontend/templates/admin/analytics.html
  frontend/src/frontend/templates/admin/crawlers.html
  frontend/src/frontend/templates/admin/dashboard.html
  frontend/src/frontend/templates/admin/history.html
  frontend/src/frontend/templates/admin/indexer.html
  frontend/src/frontend/templates/admin/queue.html
  frontend/src/frontend/templates/admin/seeds.html
  frontend/tests/test_admin_auth.py
Due: pytest-frontend

docs: align ports with production
  AGENTS.md
  README.md
  docs/api.md
  docs/architecture.md
  docs/setup.md
Due: none

fix: split indexer api and worker
  docker-compose.coolify.yml
  docker-compose.yml
  indexer/src/app/main.py
  indexer/src/app/worker.py
Due: none

fix: add healthcheck for indexer worker
  docker-compose.coolify.yml
  docker-compose.yml
Due: none

fix: avoid open db transactions during embeddings
  indexer/src/app/core/config.py
  indexer/src/app/services/indexer.py
Due: none

refactor: batch token stats updates on postgres
  shared/src/shared/search/indexer.py
Due: none

fix: add inverted index url index
  shared/src/shared/db/search.py
Due: none

refactor: rename /api/v1/indexer/health to /api/v1/indexer/stats
  frontend/src/frontend/api/routers/admin_indexer.py
  frontend/src/frontend/services/indexer_admin_client.py
  frontend/src/frontend/templates/admin/indexer.html
  indexer/src/app/api/routes/indexer.py
  indexer/tests/test_api.py
Due: pytest-frontend

feat: add crawl status breakdown endpoint and dashboard card
  crawler/src/app/api/routes/stats.py
  crawler/src/app/utils/history.py
  frontend/src/frontend/services/admin_dashboard.py
  frontend/src/frontend/services/crawler_admin_client.py
  frontend/src/frontend/templates/admin/dashboard.html
Due: pytest-frontend, pytest-crawler

feat: scaling optimizations for 100M page target
  crawler/src/app/core/config.py
  crawler/src/app/db/url_store.py
  crawler/src/app/services/indexer.py
  crawler/src/app/utils/robots.py
  crawler/src/app/workers/tasks.py
  indexer/src/app/services/index_jobs.py
  indexer/src/app/services/indexer.py
  indexer/src/app/worker.py
  shared/src/shared/db/search.py
  shared/src/shared/embedding.py
  shared/src/shared/search/indexer.py
Due: pytest-crawler

chore: fix docker inconsistencies, add pre-commit hooks, pin deps
  .pre-commit-config.yaml
  crawler/Dockerfile
  crawler/requirements.txt
  docker-compose.yml
  docs/api.md
  frontend/requirements.txt
  indexer/README.md
  indexer/requirements.txt
Due: none

feat: make search candidate limit configurable via env var (#9)
  shared/src/shared/search/searcher.py
Due: none

feat: make BM25 hyperparameters configurable via env vars (#12)
  frontend/src/frontend/services/search.py
Due: pytest-frontend

feat: add rate limiting to admin login (#14)
  frontend/src/frontend/api/middleware/rate_limiter.py
  frontend/src/frontend/api/routers/admin.py
Due: pytest-frontend

feat: increase DB connection pool defaults (#16)
  shared/src/shared/db/search.py
Due: none

feat: cache IDF values with 5-min TTL (#10)
  shared/src/shared/search/scoring.py
Due: none

fix: improve embedding failure logging with state tracking (#11)
  indexer/src/app/services/indexer.py
Due: none

feat: increase robots.txt cache size and fix blocked_domains sizing (#5)
  crawler/src/app/core/config.py
  crawler/src/app/utils/robots.py
Due: pytest-crawler

feat: replace domain cache dict with TTLCache (#6)
  crawler/src/app/workers/tasks.py
Due: pytest-crawler

perf: batch domain_done_count queries in link scoring (#3)
  crawler/src/app/db/url_store.py
  crawler/src/app/workers/tasks.py
Due: pytest-crawler

perf: parallelize indexer job processing with asyncio.gather (#4)
  indexer/src/app/core/config.py
  indexer/src/app/worker.py
Due: none

perf: optimize token_stats batch updates with unnest (#15)
  shared/src/shared/search/indexer.py
Due: none

perf: reduce global_stats scan frequency from 1K to 10K pages (#17)
  indexer/src/app/services/indexer.py
Due: none

feat: add search-specific Prometheus metrics (#13)
  frontend/src/frontend/api/metrics.py
  frontend/src/frontend/services/search.py
Due: pytest-frontend

feat: migrate vector search to pgvector with HNSW index (#8, #18)
  docker-compose.coolify.yml
  docker-compose.yml
  indexer/src/app/services/indexer.py
  scripts/migrate_bytea_to_pgvector.py
  shared/src/shared/db/search.py
  shared/src/shared/embedding.py
  shared/src/shared/search/searcher.py
Due: none

fix: gracefully skip HNSW index on pre-migration BYTEA columns
  shared/src/shared/db/search.py
Due: none

fix: separate vector index creation from core schema init
  shared/src/shared/db/search.py
Due: none

Path conditions:
  pytest-frontend: any of: ^frontend/ and \.py$
  pytest-crawler: any of: ^crawler/ and \.py$
