Repository tomato414941/web-search: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-frontend, pytest-crawler

pytest-frontend:
  name: pytest (frontend)
  entry: bash -c "export ADMIN_USERNAME=test ADMIN_PASSWORD=test ADMIN_SESSION_SECRET=test INDEXER_API_KEY=test && cd frontend && ../.venv/bin/pytest tests/ -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false

pytest-crawler:
  name: pytest (crawler)
  entry: bash -c "export INDEXER_API_KEY=test && cd crawler && ../.venv/bin/pytest tests/ -v --tb=short"
  language: system
  pass_filenames: false
  always_run: false

fix: fix migration script cursor invalidation on commit
  scripts/migrate_bytea_to_pgvector.py
Due: none

fix: join inverted_index with documents in candidate search
  shared/src/shared/search/searcher.py
Due: none

refactor: consolidate docker-compose files with base+override pattern
  docker-compose.coolify.yml
  docker-compose.override.yml
  docker-compose.yml
Due: none

refactor: unify PG/SQLite schemas with auto-conversion
  crawler/src/app/db/url_store.py
  crawler/src/app/utils/history.py
  shared/src/shared/db/search.py
Due: pytest-crawler

refactor: unify PG/SQLite dual-mode branches across indexer and frontend
  frontend/src/frontend/services/admin_analytics.py
  frontend/src/frontend/services/admin_dashboard.py
  frontend/src/frontend/services/analytics.py
  indexer/src/app/services/index_jobs.py
  indexer/src/app/services/indexer.py
  shared/src/shared/search/indexer.py
Due: pytest-frontend

feat: add FK constraints (documents → dependent tables) with migration script
  scripts/add_foreign_keys.py
  shared/src/shared/db/search.py
Due: none

refactor: simplify embedding save with UPSERT and extracted method
  indexer/src/app/services/indexer.py
Due: none

feat: add lightweight numbered-SQL migration system
  shared/src/shared/db/migrate.py
  shared/src/shared/db/migrations/001_initial_schema.sql
  shared/src/shared/db/migrations/002_add_foreign_keys.sql
  shared/src/shared/db/migrations/__init__.py
  shared/tests/test_migrate.py
Due: none

refactor: remove unused BASE_DIR and DATA_DIR from InfrastructureSettings
  shared/src/shared/core/infrastructure_config.py
  shared/tests/test_infrastructure_config.py
Due: none

fix: remove n_domains multiplier from URL priority scoring
  crawler/src/app/domain/scoring.py
Due: pytest-crawler

refactor: redesign URL priority scoring to 0-100 scale
  crawler/src/app/api/routes/seeds.py
  crawler/src/app/domain/scoring.py
  crawler/src/app/services/queue.py
  crawler/src/app/services/seeds.py
  crawler/tests/test_scoring.py
Due: pytest-crawler

fix: scoring review fixes — negative rank guard, cache-independent domain_rank, cap at 100
  crawler/src/app/db/url_store.py
  crawler/src/app/domain/scoring.py
  crawler/src/app/services/queue.py
  crawler/src/app/services/seeds.py
  crawler/tests/test_scoring.py
Due: pytest-crawler

fix: add SSRF prevention with private IP blocking
  crawler/src/app/services/queue.py
  crawler/src/app/utils/parser.py
  crawler/src/app/workers/tasks.py
  shared/src/shared/core/utils.py
  shared/tests/test_utils.py
Due: pytest-crawler

fix: cap DB connection pool and gunicorn workers
  docker-compose.yml
  frontend/gunicorn.conf.py
  shared/src/shared/db/search.py
Due: pytest-frontend

feat: add SKIP LOCKED and queue aging to crawler frontier
  crawler/src/app/db/url_store.py
  shared/src/shared/db/migrations/003_add_urls_pending_claim_index.sql
Due: pytest-crawler

feat: add periodic domain rank cache refresh in crawler worker
  crawler/src/app/domain/scoring.py
  crawler/src/app/workers/tasks.py
Due: pytest-crawler

feat: implement AND-first search with min_match fallback
  shared/src/shared/search/searcher.py
  shared/tests/test_custom_search.py
Due: none

feat: add site: query operator for domain-scoped search
  shared/src/shared/search/searcher.py
  shared/tests/test_custom_search.py
Due: none

feat: improve snippet with best-window selection and JA boundaries
  shared/src/shared/search/snippet.py
  shared/tests/test_custom_search.py
Due: none

refactor: move settings links to gear icon dropdown in top-right corner
  frontend/src/frontend/static/css/modern.css
  frontend/src/frontend/static/css/simple.css
  frontend/src/frontend/templates/search.html
Due: none

fix: remove min-width on simple search input for mobile
  frontend/src/frontend/static/css/simple.css
Due: none

fix: add mobile responsive styles for both themes
  frontend/src/frontend/static/css/modern.css
  frontend/src/frontend/static/css/simple.css
Due: none

fix: center search box on mobile home page
  frontend/src/frontend/static/css/modern.css
  frontend/src/frontend/static/css/simple.css
  frontend/src/frontend/templates/search.html
Due: none

fix: set explicit text color on simple theme button
  frontend/src/frontend/static/css/simple.css
Due: none

feat: skip enqueue for robots.txt-blocked domains
  crawler/src/app/core/config.py
  crawler/src/app/utils/history.py
  crawler/src/app/workers/tasks.py
  crawler/tests/test_history_metrics.py
Due: pytest-crawler

feat: redesign admin Queue tab as Frontier Health dashboard
  crawler/src/app/api/routes/stats.py
  crawler/src/app/db/url_store.py
  crawler/src/app/utils/history.py
  crawler/tests/test_history_metrics.py
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/services/crawler_admin_client.py
  frontend/src/frontend/templates/admin/analytics.html
  frontend/src/frontend/templates/admin/crawlers.html
  frontend/src/frontend/templates/admin/dashboard.html
  frontend/src/frontend/templates/admin/history.html
  frontend/src/frontend/templates/admin/indexer.html
  frontend/src/frontend/templates/admin/queue.html
  frontend/src/frontend/templates/admin/seeds.html
Due: pytest-frontend, pytest-crawler

feat: use domain_ranks as authority signal in search ranking
  shared/src/shared/search/scoring.py
  shared/tests/test_custom_search.py
Due: none

fix: add TTL to BM25 stats cache to prevent stale scoring
  shared/src/shared/search/scoring.py
  shared/tests/test_bm25_stats_ttl.py
Due: none

fix: add rate limit to public /api/v1/crawl endpoint
  frontend/src/frontend/api/routers/crawler.py
Due: pytest-frontend

fix: always update link graph and include outlinks in dedupe key
  indexer/src/app/services/index_jobs.py
  indexer/src/app/services/indexer.py
  indexer/tests/test_stale_links.py
Due: none

feat: add failed job visibility and retry to admin dashboard
  frontend/src/frontend/api/routers/admin_indexer.py
  frontend/src/frontend/services/indexer_admin_client.py
  frontend/src/frontend/templates/admin/indexer.html
  indexer/src/app/api/routes/indexer.py
  indexer/src/app/services/index_jobs.py
  indexer/tests/test_failed_jobs.py
Due: pytest-frontend

perf: wrap sync search calls with asyncio.to_thread
  frontend/src/frontend/api/routers/search.py
  frontend/src/frontend/api/routers/search_api.py
Due: pytest-frontend

perf: cache UrlStore instance in readiness probe
  crawler/src/app/api/routes/health.py
Due: pytest-crawler

perf: add async DNS resolution for SSRF check
  crawler/src/app/workers/tasks.py
  shared/src/shared/core/utils.py
  shared/tests/test_utils.py
Due: pytest-crawler

perf: add TTL-based search result cache
  shared/src/shared/search/searcher.py
  shared/tests/test_result_cache.py
Due: none

feat: add freshness signal to BM25 ranking
  shared/src/shared/search/scoring.py
  shared/tests/test_freshness_scoring.py
Due: none

perf: cache SSRF DNS checks, raise DB pool limits, batch link inserts
  docker-compose.yml
  indexer/src/app/services/indexer.py
  indexer/tests/test_indexer_service.py
  shared/setup.py
  shared/src/shared/core/utils.py
  shared/tests/test_utils.py
Due: none

feat: enable hybrid search (BM25 + vector RRF)
  frontend/src/frontend/api/routers/search.py
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/services/analytics.py
  frontend/src/frontend/services/embedding.py
  frontend/src/frontend/services/search.py
  frontend/tests/test_search_caching.py
  frontend/tests/test_search_semantic.py
Due: pytest-frontend

refactor: remove unused code (from_pgvector, resolve_is_private sync, fetch_queue, highlight_snippet)
  frontend/src/frontend/services/crawler_admin_client.py
  shared/src/shared/core/utils.py
  shared/src/shared/embedding.py
  shared/src/shared/search/__init__.py
  shared/src/shared/search/snippet.py
  shared/tests/test_custom_search.py
Due: pytest-frontend

feat: add API key authentication for public search API
  frontend/src/frontend/api/deps.py
  frontend/src/frontend/api/main.py
  frontend/src/frontend/api/routers/admin.py
  frontend/src/frontend/api/routers/search_api.py
  frontend/src/frontend/core/config.py
  frontend/src/frontend/services/analytics.py
  frontend/src/frontend/services/api_key.py
  frontend/tests/conftest.py
  frontend/tests/test_api_key.py
  shared/src/shared/db/migrations/004_api_keys.sql
  shared/src/shared/db/search.py
Due: pytest-frontend

Path conditions:
  pytest-frontend: any of: ^frontend/ and \.py$
  pytest-crawler: any of: ^crawler/ and \.py$
